.wd-stand-Modify {
    /*overflow: hidden;*/
    width: 560px;
    /* min-height: 340px !important; */
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 0px;
    position: relative;
    left: 50px;
    clear: both;
}
.wd_Modify_add_task{
    margin-left: 25px;
}
.wd_Modify_name_task_img{
    width: 14px;
    height: 14px;
    border: 1px solid gray;
    font-family: 仿宋, serif;
    padding: 1px;
    padding-left: 17px; 
    border-radius: 5px;
}
.wd_Modify_name_task{
    margin-left: 10px;
}
.wd_Modify_name_task input{
    height: 20px;
    width: 60.5%;
    margin: 10px;
    border:0;
}
.wd_Modify_head_task{
    text-align: left;
    vertical-align: middle;      
    margin-left: 11px;   
    margin-top: 20px;
}
.wd_Modify_expect_task{
    margin-left: 12px;  
}
.wd_Modify_expect_task input{
 height: 20px;
 width: 44%;
 margin: 10px;
 border: 0;
 font-size: 12px;
}
.wd_Modify_note_task{
    margin-left: 12px;          
}
.wd_Modify_note_task input{
    height: 20px;
    width: 80%;
    margin: 10px;
    border: 0;
}
.wd_task_Modify_img{
    margin-left: 12px;
    margin-top: 5px;
}
.Modify_mutiSelect{
    display: inline;
}
.Modify_list{
    display: inline;
    margin-left: 15px;
}
.wd_Modify_tag_task{
    margin-top: 10px;
}
.wd_tag_task{
    margin-left: 12px;  
}
.opt_tag_task{

height: 20px;
margin: 10px;
width: 200px;
border: 0;

font-family: 仿宋, serif;    
appearance:none; 
-moz-appearance:none; 
-webkit-appearance:none;
/* background: url("arrow.png") no-repeat scroll right center transparent;  */
padding-right: 14px;
}
.Modify_wd_note_task{
    margin-top: 15px;
    margin-left: 12px;   
}
.Modify_wd_note_task input{
    height: 20px;
    width: 80%;
    margin: 10px;
    border: 0;
}