.wd_task_delete{
    border: 1px solid black;
    overflow: hidden;
    width: 500px;
    height: 200px !important;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.582);
    border-radius: 5px;
    margin: 0px auto;
    /* display: none; */
    /* box-shadow: 5px 5px 5px #888888b9; */
    margin-left: 100px;
    border: 1px solid black;
}
.wd_task_dele_lbl{
    margin: 30px auto;
    text-align: center;
}