textarea{
    resize: none;
}
.body_task_time{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 18px;
    left: 25px;
    display: none;
}
.wd_add_task {
    /*overflow: hidden;*/
    width: 560px;
    /* min-height: 340px !important; */
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 0px;
    /*margin-top: 37px;*/
    display: none;
    clear: both;
    /* margin-left: 60px; */
    margin-top: 4px;
}
.body_task_add:hover{
    color: #339966 !important;
}
.wd_add_task_alls{
    margin-left: 25px;
    margin-top: 20px;
}
.wd_close_task{
    text-align: right;
}
.wd_close_task label{
      cursor: pointer;
      font-size: 15px;
      position: relative;
      right: 7px;
}
.wd_close_task label:hover{
    color: red;
    font-size: 16px;
}
.wd_tcid_task{
    
    display: none;
    text-align: center; 
    vertical-align: middle;
}
.wd_tcid_task input{
    height: 20px;
    width: 215px;
    margin: 10px;
   
}

.wd_name_task{
    margin-left: 10px;
}
.wd_name_task input{
    height: 20px;
    width: 80%;
    margin: 10px;
    border:0;
}
.wd_head_task{
    text-align: left;
    vertical-align: middle;      
    margin-left: 11px;   
    margin-top: 7px;
}
.wd_opt_data_per{
  
}
.wd_opt_data_per img{
    
}
.wd_head_task input{
    height: 20px;
    margin: 10px;
    width: 200px;
    border: 0;
    
    font-family: 仿宋, serif;
}
.wd_head_task input:hover{
    outline: none;
}
.wd_head_task_per{
    
    width: 100px;
    height: 50px;
}
.wd_opt_data{
    height: 20px;
    margin: 10px;
    width: 30%;
    border: 0;
    
    font-family: 仿宋, serif;    
    appearance:none; 
    -moz-appearance:none; 
    -webkit-appearance:none;
     /* background: url("arrow.png") no-repeat scroll right center transparent;  */
     padding-right: 14px;
     border-bottom: 1px dashed gainsboro;
     font-size: 12px;
}
.wd_opt_data option{
    margin: 0;
}

.wd_expect_task{
       margin-left: 12px;                 
}
.wd_expect_task input{
    height: 20px;
    width: 44%;
    margin: 10px;
    border: 0;
    font-size: 12px;
}

.wd_note_task{
          margin-left: 12px;          
}
.wd_note_task input{
    height: 20px;
    width: 80%;
    margin: 10px;
    border: 0;
}
.task-add-tag{
    /*display: inline;*/
    padding: 1px;
    /* min-width: 40px; */
    margin-left: 5px;
    font-size: 13px;
    /* color: white; */
    background-color: white;
    border-radius: 3px;
    padding-right: 11px;
    padding-left: 11px;
    cursor: pointer;
    border: 1px solid gainsboro;
    width: 82px;
    display: inline-block;
    height: 20px;
    line-height: 21px;
    text-align: center;
}

.wd_tag_task{
          margin-left: 12px;  
}
.opt_tag_task{
    
    height: 20px;
    margin: 10px;
    width: 200px;
    border: 0;
    
    font-family: 仿宋, serif;    
    appearance:none; 
    -moz-appearance:none; 
    -webkit-appearance:none;
     /* background: url("arrow.png") no-repeat scroll right center transparent;  */
     padding-right: 14px;
}
/* .wd_tag_task_ul l{
    background-color: white;
    position: absolute;
    min-width: 220px;
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #888888;
    border: 1px solid black;
    margin: 0 auto;
    left: 130px;
    margin-top: -5px;
}
.wd_tag_task_ul l li{
    min-height: 30px;
    list-style: none;
    margin: 10px auto;
}
.wd_tag_task_ul l li:hover{
    
    background-color: #888888;
    cursor: pointer;
} */

.wd_submit_task{
    position: relative;
    left: 20px;
}
.wd_submit_add{
    border:1px solid black;
    margin: 10px auto;
    margin-left: 15px;
    color: white;
    padding: 5px;
    background-color:rgba(22, 172, 213, 0.767);
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}
.wd_submit_add:hover{
    border:1px solid black;
    margin: 10px auto;
    margin-left: 15px;
    color: white;
    padding: 5px;
    background:rgba(22, 172, 213, 0.712) !important;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}
.wd_submit_reset{
    border:1px solid black;
    margin: 10px auto;
    margin-left: 15px;
    color: #315f5d;
    padding: 5px;
    background-color:white;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}
.wd_submit_reset:hover{
    border:1px solid black;
    margin: 10px auto;
    margin-left: 15px;
    color: #315f5d;
    padding: 5px;
    background-color:rgba(63, 151, 157, 0.04);
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}
.wd_task_sp_Id{
    display: none;
}
.detail_task_id{
    display: none;
}

.detail_task_qd{
    /* border: 1px solid red; */
    width: 85%;
    height: auto;
    /*float: left;*/
    margin: 0px;
    overflow:visible;
}
.detail_task_qd:hover{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.74);
    /*width: 120%;*/
    height: auto;
    
    padding: 0;
}
.dett-sdlie-dui{
    /*border: 1px solid red;*/

    text-align: justify;
    word-break: break-all;
    margin-left: 100px;
    margin-top: 0px;
    position: relative;
    top: -23px;


}
@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}
.wd-task-cheng{
    width: 100%;
    height: 30px;
}

.wd_task_name{
    text-align: center;
    /*border: 1px solid red;*/
    width: 430px;
    height: auto;
    margin: 10px;
    margin-right: auto;   
    color: #000;
    font-size: 15px;
    position: relative;
    vertical-align:middle;
    text-align:justify;
    cursor: pointer;
    /*display: block;*/

    /*display: inline-block;*/
}

.detail_task_tag{
    background: inherit;
    background-color: rgba(153, 51, 204, 1);
    color: white;
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    margin: 4px;
    padding: 2px;
    font-size: 13px;
    min-width: 40px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.detail_task_note img{
    width: 13px;
    height: 13px;
}
.detail_task_note img:hover{
    opacity: 0.5;
    filter:brightness(20%);
    width: 13.5px;
    height: 13.5px;
}
.detail_task_time{
    background: inherit;
    background-color: rgb(184, 11, 77);
    color: white;
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    margin: 4px;
    padding: 2px;
    font-size: 13px;
    min-width: 40px;
}
#task_wd_list{
    
    padding: 0;
    position: relative;
    left: 50px;
    margin: 5px;
  
    list-style: none;
    font-size: 13px;
    margin-left: 33px !important;
    display: block;
}
.task_div_child{
    margin-top: 5px;
}

#task_wd_list span label{
    font-size: 13px;
}
#wd_task_checked_begin{
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    /* display: none; */
    position: relative;
    top: 2px;
    left: 30px;
    border-radius: 6px;
}
#wd_task_checked_begin:hover{
    width: 21px;
    height: 21px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    /* display: none; */
    position: relative;
    top: 2px;
    left: 30px;
    border-radius: 6px;
    
}

#wd_task_checked_end{
    width: 20px;
    height: 22px;
    background-color: #fff;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    left: 28px;
    border-radius: 6px;
}

#wd_task_checked_end:hover{
    
    background-color: rgba(0, 0, 255, 0.384);
}

.task_open{
    margin-left: 42px;
}
/* .task_close{
    margin-left: 15px;
} */

.wd_name_task_img{
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 仿宋, serif;
    padding: 1px;
    padding-left: 17px; 
}
.task_demo_img{
    position: relative;
top: 8px;
}

.wd_finish_task{
    padding-bottom: 10px;
    padding-top: 50px;
    /*overflow: hidden;*/
float: left;
/*width: 700px;*/
/*min-height: 200px;*/
/*border: 1px solid red;*/
/*margin: 0 auto;*/
   
}
.wd_finish_task span label{
    position: relative;
    left: 50px;
    color: #c9c9c9;
}
#task_tmp{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15px;
     width: 220px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    display: none;
    color: rgb(85, 85, 85);
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-family: "microsoft yahei", 宋体;
    padding: 5px 10px 5px 15px;
}
.task_tt{
    
}
#task_state{
    
    min-width: 20px;
    height: 20px;
    position: relative;
    left: 1px;
}
.task_date_show{
    margin-left: 20px;
    font-size: 13px;
    margin-left: 5px;
    background: inherit;
    background-color: inherit;
    background-color: inherit;
    color: rgba(22, 172, 213, 0.767);
    border: none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    margin: 4px;
    padding: 2px;
    font-size: 13px;
    min-width: 40px;
    position: relative;
    top: 2px;
    cursor: default;
}
.task_date_hide{
    margin-left: 6px;
    position: relative;
    top: 2px;
    cursor: default;
font-size: 14px;

}
.detail_task_info img{
    margin-left: 5px;
    width: 12px;
    height: 13px;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.detail_task_note{
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    top: 2px;
}
.detail_task_info lable{
    font-size: 10px;
}
.parsing-name{
    font-size: 12px;
}

 /**{padding:0;margin:0;}*/
ul li,input{list-style: none;}
.mutiSelect{    width: 67%;
    position: relative;
    margin: -1px 0;
    text-indent: 4%;
    bottom: 10px;
    border: 0;
}}
.mutiSelect span{width:20%;height:25px;line-height:25px;display: block;font-size: 16px;color:#000;}
.mutiSelect .list{min-width:70px;line-height:20px;line-height:25px;
                    margin-left: 20px;
                    /*overflow: none;*/
                    }
/*.mutiSelect .list p{width:100%;height:25px;line-height:25px;}*/
.listContent{
    /*display: none; */
    margin-left: 20px;
}
.listContent li{width:100%;box-sizing: border-box;border-top: none;line-height: 25px;}
.content{
    /*min-width: 30px !important;*/
    /*color: red;*/
    border: 0;
    font-size: 12px;
    background: transparent;
    
    /*background-color: blue;*/
}
.listContent input{
    border: 1px solid block;

}
.street{
    background-color: blue;
    
}
.listtext{
    /*display: inline;*/
    padding: 3px;
    min-width: 40px;
    margin-left: 5px;
    font-size: 13px;
    color: white;
    background-color: rgba(153, 51, 204, 1);
    border-radius: 7px;
}



/* ////////////// */

#web_remark{
    display: none;
    width: 426px;
    height: 426px;
    line-height: 116%;
    color: rgb(85, 85, 85);
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-family: "microsoft yahei", 宋体;
    padding: 5px 10px 5px 15px; 
    cursor: pointer; 
    margin: 20px auto;
    position: absolute;
    overflow: auto;
    z-index: 1;
    margin-top: 39px;
}
.wd_stand_task_info{
    display: none;
    width: 450px;
    height: 400px;
    line-height: 116%;
    color: rgb(85, 85, 85);
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    /* border-color: rgb(238, 238, 238); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-family: "microsoft yahei", 宋体;
    padding: 21px 10px 5px 15px; 
    cursor: pointer; 
    position: absolute;
    /* overflow: auto; */
    z-index: 3;
    margin-top: 33px;
    padding-bottom: 15px;
    border: 1px solid #e3e3e3;
}
select{
    outline: none;
}
/* .log_content{
    width: 247px;
    font-size: 13px;
    color: gray;
} */
#web_resonlbl{
    text-align: center;
    position: relative;
    right: 7px;
    color: rgba(0, 0, 0, 0.658);
    cursor: pointer;
    font-size: 15px !important; 
}
#web_resonlbl:hover{
    text-align: center;
    position: relative;
    right: 7px;
    color: rgba(0, 0, 0, 0.658);
    cursor: pointer;
    font-size: 17px !important; 
}
.web_close{
    text-align: right;
}
.task_log_web{
    margin: 5px;
    /* margin-top: 10px; */
    margin-left: 22px;
}

#ping_div{
    /*word-break:break-all*/
    /*width: 80%;*/
    /*border: 1px solid red;*/
    /*white-space:normal;*/
    margin-top: 12px;
}

#ping_div p input{
    display: inline-block;
    padding: 6px 10px;
    margin: 0 10px 0 0;
    color: #fff;
    font-size: 14px;
    background-color:rgba(22, 172, 213, 0.767);
    border: 1px solid #44acb6;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-color: #44acb6;
    background-clip: padding-box;
}

.ping_div_web{
    /* margin-left: 22px;
    margin-top: 12px; */
    color: black;
    
}

.ping_div_web p input{
    display: inline-block;
    padding: 6px 10px;
    margin: 0 10px 0 0;
    color: #fff;
    font-size: 14px;
    background-color:rgba(22, 172, 213, 0.767);
    border: 1px solid #44acb6;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-color: #44acb6;
    background-clip: padding-box;
}
#web_loading{
    font-size: 13px;
    cursor: pointer;
    /* padding-top: 7px; */
    height: 30px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;
    background: white;
    border-radius: 5px;
    float: left;
    clear: both;
    color: rgb(85, 85, 85);
}
#web_loading:hover{
    color: #339966;
}
.task_log_web{
    margin: 5px;
    margin-top: 10px;
    margin-left: 22px;
}
.loading_web{
    text-align: center;
}
#detail_miaoshu{

    word-break: break-all;
    margin-top: -5px;
    z-index: 2;
    position: absolute;
    display: none;
    left: 28px;
    width: 674%;
    color: rgb(85, 85, 85);
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-family: "microsoft yahei", 宋体;
    padding: 5px 10px 5px 15px;
    font-size: 13px;
}


.dele_task{
   background-color: white;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.322);
    width: 957px;
}
.list-tag-get{
    padding: 3px;
    min-width: 40px;
    margin-left: 5px;
    font-size: 13px;
    color: white;
    background-color: rgba(255, 0, 0, 0.678);
    border-radius: 7px;
}
/* 上锁 */
.wd-task-suo{
    width: 15px;
    height: 15px;
}
.wd-task-state-left{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
.zhezhaodetails{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 180%;
    height: 100%;
    background-color:#FFFFFF;
    opacity: 0.3;
    display: none;
}