*{
    padding: 0;
    margin: 0;
}
.task-pinglun{
    /* display: none; */
    overflow: hidden;
}
.task_pinglun{
    /* float: left; */
    width: 650px;
    min-height: 670px;
    border: 1px solid #999999;
    position: relative;
    top: 3px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.task_morenqingdan{
    margin: 10px;
    /* border: 1px solid red; */
    /* width: 100%; */
    /* display: inline; */
    /* margin-top: 5px; */
}
.ping_qingdan span label{
    margin-left:15px;
}
.task_close_pinglun{
    /* text-align: right; */
    float: right;
    cursor: pointer;
    font-size: 13px;
    /*color: red;*/
}
.task_close_pinglun label{
    /* text-align: right; */
    cursor: pointer;
    
}
.task_close_pinglun label:hover{
    /* text-align: right; */
    cursor: pointer;
    color: red;
    
}
.pinglun_task{
    width: 630px;
height: 98px;
/* border: 1px solid red; */
margin-left: 0px;
}
.ping_task{
    /* border: 1px solid red; */
    margin-left: 10px;
    margin-top: 20px;
}
.ping_cbx input{
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    /* display: none; */
    position: relative;
    top: 5px;
    /* left: 30px; */
    border-radius: 6px;
    margin-top: 8px;
    /*background:url(/img/gouhao.jpg);*/
}
#pinglun_cbx_begin{
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    top: -12px;
    left: -6px;
    margin-top: 22px;
}
#ping_blue{
    cursor: pointer;
    width: 16px;
    height: 14px;
    margin: 13px;
}
#ping_red{
    width: 16px;
    height: 14px;
    margin: 13px;
    /*display: none;*/
}
#ping_lbl input{
    min-width: 50%;
    border: 0;
    border-bottom: 1px dashed gray;
    /*border-bottom: */
    height: auto;
    font-size: 17px;
    outline: none;
}
#ping_lbl input:focus{
    border: 0;
    outline: none;
}
.ping_bianji label{
    float: right;
    color: #169BD5;
    margin: 13px;
    font-size: 14px;
    position: relative;
    /*right: 39px;*/
}


/* 人物 */
.ping_user img{
    width: 16px;
    height: 16px;
    opacity: 0.5;
    filter:brightness(20%);
    margin: 5px;
    margin-left: 36px;
}
.ping_input select{
    height: 30px;
    /* margin: 10px; */
    width: 60%;
    margin: 5px;
    border: 0;
    font-family: 仿宋, serif;
    /* appearance: none; */
    /* -moz-appearance: none; */
    -webkit-appearance: none;
    padding-right: 14px;
}
.ping_input select:focus{
    outline: none;
}
.ping_copy label{
    float: right;
    color: #169BD5;
    margin: 13px;
    font-size: 14px;
    position: relative;
    bottom: 34px;
    /*left: -52px;*/
}
.ping_rili img{
    width: 16px;
    height: 16px;
    opacity: 0.5;
    filter:brightness(20%);
    margin: 5px;
    margin-left: 36px;
}
.ping_time input{
    height: 20px;
    /* margin: 10px; */
    width: 25%;
    margin: 5px;
    border: 0;
    font-family: 仿宋, serif;
    /* appearance: none; */
    /* -moz-appearance: none; */
    -webkit-appearance: none;
    padding-right: 14px;
}
.ping_dele label{
    float: right;
    color: red;
    margin: 10px;
    font-size: 14px;
    position: relative;
    /*left: 51px;*/
    cursor: pointer;
}
/* 标签 */
.ping_tag{
    margin-top: 10px;
}
.ping_tag_pic img{
    width: 16px;
    height: 16px;
    opacity: 0.5;
    filter:brightness(20%);
    margin: 5px;
    margin-left: 36px;
}
.ping_tag_input input{
    margin-left: 20px;
}

.ping_note{
    margin-top: 10px;
}
.ping_note_pic img{
    width: 16px;
    height: 16px;
    opacity: 0.5;
    filter:brightness(20%);
    margin: 5px;
    margin-left: 36px;
    position: relative;
    bottom: 49px;
}
.ping_note_text textarea{
    height: 60px;
    /* margin: 10px; */
    width: 400px;
    margin: 5px;
    border: 0;
    font-family: 仿宋, serif;
    /* appearance: none; */
    /* -moz-appearance: none; */
    -webkit-appearance: none;
    padding-right: 14px;
    resize: none;
}
.ping_sub_task_jia img{
    width: 16px;
    height: 16px;
    opacity: 0.5;
    filter:brightness(20%);
    margin: 5px;
    margin-left: 36px;
}
.ping_sub_task_jian img{
    width: 16px;
    height: 16px;
    opacity: 0.5;
    filter:brightness(20%);
    margin: 5px;
    margin-left: 36px;
}
.ping_sub_name label{
    margin: 5px;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.ping_sub_sub label{
    margin: 5px;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.ping_list{
    /*border: 1px solid red;*/
}
.ping_subcbx input{
    height: 20px;
    /* margin: 10px; */
    /* width: 25%; */
    /*border: 1px solid red*/
    margin: 5px;
    margin-left: 73px;
    border: 0;
    font-family: 仿宋, serif;
    /* appearance: none; */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */
    padding-right: 14px;
    position: relative;
    top: 6px;
}
.ping_sub_con label{
    font-size: 13px;
}
.ping_write{
    text-align: center;
    /* margin: 3px; */
    margin: 3px auto;
    /* width: 80%; */
    height: auto;
}
.ping_writeinie textarea{
    width: 80%;
    height: auto;
    resize: none;
}


.send_pinglun input{
    height: 20px;
    /* margin: 10px; */
    /* width: 25%; */
    margin: 5px;
    margin-left: 73px;
    border: 0;
    font-family: 仿宋, serif;
    /* appearance: none; */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */
    padding-right: 14px;
    position: relative;
    top: 6px;
    border-radius: 5px;
}
.send_pinglun input:hover{
    background-color: rgba(95, 158, 160, 0.651) !important;
}
.ping_date{
    margin-top: 47px;
}
.ping_task_child_cbx input{
    width: 17px;
    height: 17px;
    
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    border-radius: 4px;
    position: relative;
    top: 2px;
    left: 47px;
}
.ping_task_child_inp img{
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    /*border: 1px solid #c9c9c9;*/
    /*border-radius: 2px;*/
    outline: none;
    /*border-radius: 4px;*/
    position: relative;
    top: -1px;
    left: 45px;
}
.ping_task_content{
    position: relative;
    margin-left: 11px;
    top:-1px;
    font-size: 14px;
}
#ping_task_state{
    margin-left: 62px;
    font-size: 14px;
    color: gray;
}
.ping_mo_task{
    background: inherit;
    background-color: inherit;
    background-color: rgba(22, 172, 213, 0.767);
    color: white;
    border: none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    margin: 4px auto;
    padding: 2px;
    font-size: 13px;
    min-width: 40px;
}
.ping_mo_div{
    text-align: center;
}
.alert_ping_mo{
    font-size: 14px;
    color: red;
}

#ping_talk_id{
    /* border: 1px solid blue; */
    width: 80%;
    min-height: 200px;
    margin:  0 auto;
    margin-left: 35px;
}
.pinglun_time{
    font-size: 12px;
    color: gray;
    margin-left: 14px;
}
#ping_content{
    font-size: 12px;
    /* margin: 9px; */
    /*width: 80%;*/
    /*white-space:normal;*/
    word-break:break-all
}
#ping_xiugai{
    color: black;
    float: right;
    display: none;
}
.ping_box{
    margin-left: 31px;
    cursor: pointer;
}
.edit_children_task{
    width: 520px;
    text-align: center;
}
.edit-children-task{
    background: inherit;
    background-color: inherit;
    background-color: rgba(22, 172, 213, 0.767);
    color: white;
    /* border: none; */
    border-radius: 5px;
}
.task_chil-edit{
    width: 520px;
    height: 192px;
    border: 1px solid rgba(22, 172, 213, 0.767);
    display: none;
}
.content_chid_edit{
    text-align: center;
}
.content_chid_edit span input{
    height: 20px;
    width: 50%;
    margin: 10px;
    margin-right: 5px;
    padding: 6px 5px;
    line-height: 12px;
    font-size: 12px;
}
.date_chid_edit{
    text-align: center;
}
.date_chid_edit span input{
    height: 20px;
    width: 50%;
    margin: 10px;
    margin-right: 5px;
    padding: 6px 5px;
    line-height: 12px;
    font-size: 12px;
}
.submit_chid_edit{
    text-align: center;
    margin: 10px;
}
.edit_child{
    padding: 0 25px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 3px;
    background: #337ab7;
    border: 1px solid #286090;
    cursor: pointer;
}
.reset_chid_edit{
    padding: 0 25px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 3px;
    background: #337ab7;
    border: 1px solid #286090;
    cursor: pointer;
}
.blue_sub_task{
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 5px;    
    text-align: center;
}
.blue_sub_task:hover{
    /*width: 15px;
    height: 15px;*/
}
.task_child_inp{
    /* border: 1px solid; */
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.ping_blue_sub_task{
    /*margin-left:-20px;*/
    position: relative;
    top: -1px;
    /* display: none; */
}
.ping_blue_sub_task:hover{
    width: 15px;
    height: 15px;
}

.ping_blue_sub_task{
    margin-left:27px;
    position: relative;
    top: -1px;
    /* display: none; */
}
.ping_blue_sub_task:hover{
    width: 15px;
    height: 15px;
}
.red_sub_task{
    margin-left:-12px;
    position: relative;
    top: -2px;
    /* left: -14px; */
    
}
.red_sub_task:hover{
    /*width: 15px;
    height: 15px;*/
}
.add_children_task{
    width: 520px;
    /*height: 10px !important;*/
    text-align: center;
    margin-top: 4px;
    position: relative;
    top: -3px;
}
.add-children-task{
    background: inherit !important;
    background-color: inherit !important;
    background-color: rgba(22, 172, 213, 0.767) !important;
    color: white !important;
    border: none !important;
    /*border-radius: 5px !important;*/
    margin-top: 12px !important;
    width:115px;
    height: 20px !important; 
}
.task_chil-add{
    width: 520px;
    height: 192px;
    display: none;
    color: rgb(85, 85, 85);
            border-radius: 5px;
            background-color: white;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(238, 238, 238);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
            font-family: "microsoft yahei", 宋体;
            padding: 5px 10px 5px 15px;
}
.content_chid{
    text-align: center;
}
.content_chid span input{
    height: 20px;
    width: 50%;
    margin: 10px;
    margin-right: 5px;
    padding: 6px 5px;
    line-height: 12px;
    font-size: 12px;
}
.date_chid{
    text-align: center;
}
.date_chid span input{
    height: 20px;
    width: 50%;
    margin: 10px;
    margin-right: 5px;
    padding: 6px 5px;
    line-height: 12px;
    font-size: 12px;
}



.submit_chid{
    text-align: center;
    margin: 10px;
}
.add_chid{
    padding: 0 25px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 3px;
    background: #337ab7;
    border: 1px solid #286090;
    cursor: pointer;
}

.reset_chid{
    padding: 0 25px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 3px;
    background: #337ab7;
    border: 1px solid #286090;
    cursor: pointer;
}

.task_content{
    cursor: default;
    margin-left: 16px;
    font-size: 14px;
}
.task_date{
    margin-left: 5px;
    background: inherit;
    background-color: inherit;
    color: rgba(22, 172, 213, 0.767);;
    border: none;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    margin: 4px;
    padding: 2px;
    font-size: 13px;
    min-width: 40px;
    cursor: default;
}
.task_child_inp img{
    width: 20px;
    height: 20px;
    
    -webkit-appearance: none;
    /*border: 1px solid #c9c9c9;*/
    border-radius: 2px;
    outline: none;
    border-radius: 4px;
    position: relative;
    top: -4px;
    left: -1px;
    
}
.task_child_inp {
    margin-left: 10px;
   
}
#task_child_cbx:hover{
    /*background-color: rgba(255, 0, 0, 0.514);*/
    width: 15px;
    height: 15px;
    
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    border-radius: 4px;
    position: relative;
    top: 3px;
}
#task_href_child{
    width: 59px;
    height: 25px;
    /*border: 1px solid gray;*/
    border-radius: 5px;
    display: none;
    position: absolute;
    margin-top: 2px;
    margin-left: -60px;
}

#ping_task_href_child{
    width: 80px;
height: 25px;
/*border: 1px solid gray;*/
border-radius: 5px;
display: none;
margin-top: -3px;
/*margin-left: -80px;*/
position: absolute;
/*position: relative;*/
float: left;
}
.task_child_pen img{
    margin-left: 5px;
margin-top: 2px;
}
.task_child_pen img:hover{
    opacity: 0.9;
    filter:brightness(50%);
    cursor: pointer;
}
#task_child_box:hover{
    opacity: 0.9;
    filter:brightness(50%);
    cursor: pointer;
}
#task_sub_span{
    text-align: center;
    color: red;
}
#task_state{
    color: gray;
    margin-left: 4px;
}
#wd_task_cbx{
    float: left;
}
#task_club{
    margin-left: 30px;
    height: 40px;
}
#task_paa{
    margin-right: 10px;
    /*padding-left: 50px;*/
}
.task_div_child input{
    width: 17px;
    height: 17px;
    display: inline-block;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    border-radius: 4px;
    position: relative;
 
}
.sub_box img{
    cursor: pointer;
    margin-left: -10px;
margin-top: 2px;
}
.sub_box img:hover{
    opacity: 0.8;
    filter:brightness(20%);
}

.ping_red_sub_task{
    margin-left:-12px;
    position: relative;
    top: -2px;
    left: 20px;
    
}
.ping_red_sub_task:hover{
    width: 15px;
    height: 15px;
}
.ping_div p input{
    /*display: inline-block;*/
    padding: 6px 10px;
    margin: 0 10px 0 0;
    color: #fff;
    font-size: 14px;
    background-color:rgba(22, 172, 213, 0.767);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-color: #44acb6;
    background-clip: padding-box;
}
.ping_text{
    width: 100%;
    min-height: 85px;
    /*display: none;*/
}
#ping_pen{
    cursor: pointer;
}
.ping_edit{
    display: none;
}
.log_user{
    font-size: 13px;
    color: gray;
}
.task_log{
    margin-top: 14px;
}
#log_time{
    font-size: 12px;
    color: gray;
}
.log_con{
    font-size: 13px;
    color: gray;
    margin: -4px;
    display: block;
    position: relative;
    left: 120px;
    bottom: 14px;
    width: 247px;
    /* height: 37px; */
    line-height: -1px;
}
#loadingmore{
    font-size: 13px;
    color: gray;
    cursor: pointer;
}

.wd_detials_new_loadding{
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.pinglun_details_name{
    font-size: 13px;
    float: left;
    width: 11%;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 13px;
}
.wd_stnad_details_top{
    width: 72px;
    border: 1px solid #ccc;
    position: absolute;

    height: 72px;
    border-radius: 40px;
    text-align: center;
    margin-left: 860px;
    margin-top: 200px;
    z-index: 2;
    cursor: pointer;
    display: none;
}
.wd_stnad_details_top:hover{
    color: #339966;
    border: 1px solid #339966;
}
/* 新详情评论页 */
.wd-stand-details{
    float: left;
    width: 100%;
    height: 800px;
    background-color:rgba(228, 228, 228, 1);
    margin: -10px auto;
    padding: 0;
    padding-bottom: 26px;
    overflow: auto;
    overflow-x: hidden;
}
.wd-stand-details-div{
    width: 80%;
    min-height: 470px;

    margin: 0 auto;
    clear: both;
    /* margin-top: 5px; */
    vertical-align: middle;
}
.wd-stand-detals-view{
    float: left;
    min-height: 473px;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wd-stand-details-cbx{
    width: 25px;
    height: 25px;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    position: relative;
    top: 5px;
}
/* 详细页面下的子任务的勾选框 */
.wd-details-commits{
    width: 100%;
    min-height: 25px;
    word-break: break-all;
    padding-bottom: 11px;
}
/* 那妞 */
.wd_details_send_submit{
    margin: 10px auto;
    margin-left: 15px;
    color: white;
    padding: 5px;
    background-color: rgba(22, 172, 213, 0.767);
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}
.wd_details_loding:hover{
    color: cadetblue;
}
.wd_ping_aite{
    cursor: default;
    font-size: 12px;
    color: rgb(85, 85, 85);
    width: 81%;
    height: auto;
    float: left;
    padding-bottom: 10px;
}
.wd_ping_aite textarea{
    cursor: default;
    border: 0;
    outline: none;
    background: none;
    width: 89%;
    resize: none;
    float: left;
    margin-top: 5px;
    height: 20px;
}
.wd_ping_aite div input{
    float: left;
    width: 45px;
    padding: 0;
    height: 17px;
    background: none;
    color:black;
    font-size: 11px;
}
.wd_ping_aite div input:hover{
    background-color: rgba(22, 172, 213, 0.767);
}
#ping-aite-cont{
    border: 1px solid;
    /* border-top: 0; */
}
#ping-aite-cont :first-child{
    border: 1px solid;
    /* border-top: 1px solid; */
}