<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- <div id="app1">
        <input type="checkbox" name="is_auto" title="记住密码" lay-skin="primary" v-model="iss" @click="is_auto">
    </div> -->

    <div id="lapp" class="l1">
        <form onsubmit="return false">
            <div style="margin: 0 auto;width: 90%;height: 100%;">
                <div class="l1-title">
                    Login
                </div>
                <div class="l1-form">
                    <!-- 邮箱 -->
                    <div class="layui-form-item" style="padding-bottom: 10px;">
                        <label class="layui-form-label"
                            style="width: auto;padding: 0;text-align: left;padding-bottom: 5px;">邮箱</label>

                        <div class="layui-input-block layui-margin-zero">
                            <input type="text" name="mail" v-on:focus="focus_mail" v-on:blur="mailname"
                                placeholder="请输入标题" autocomplete="off" class="layui-input" v-model="add.mail">
                        </div>
                        <span class="login_tips">${mailtips}</span>
                    </div>
                    <!-- 密码 -->
                    <div class="layui-form-item" style="padding-bottom: 10px;margin-bottom: 0;">
                        <label class="layui-form-label"
                            style="width: auto;padding: 0;text-align: left;padding-bottom: 5px;">密码</label>
                        <div class="layui-input-block layui-margin-zero">
                            <input type="password" name="passwd" placeholder="请输入密码" autocomplete="off"
                                v-on:blur="pwdname" v-on:focus="focus_pwd" class="layui-input" v-model="add.passwd">
                        </div>
                        <span class="login_tips">${passwdtips}</span>
                    </div>
                    <!-- 两功能 -->
                    <div style="display: flex;justify-content: space-between;">
                        <!-- 复选框 -->
                        <div class="layui-form-item">
                            <!-- <label class="layui-form-label">复选框</label> -->
                            <div class="layui-input-block layui-margin-zero flex">
                                <input id="layui_isauto" type="checkbox" name="is_auto" title="" v-model="add.is_auto"
                                    @click="is_uto">
                                <label for="layui_isauto" style="padding-left: 5px;">记住密码</label>
                            </div>
                        </div>
                        <!-- 忘记密码 -->
                        <div class="layui-form-item">
                            <!-- <label class="layui-form-label">复选框</label> -->
                            <div class="layui-input-block" style="margin-left: 0;display: flex;align-items: center;">
                                <a href="">忘记密码？</a>
                            </div>
                        </div>
                    </div>
                    <!-- 提交 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block layui-margin-zero">
                            <!-- <button style="width: 100%;font-size: 17px;" class="layui-btn" lay-submit lay-filter="formDemo"></button> -->
                            <input type="submit" value="登 录" @click="login" style="width: 100%;font-size: 17px;"
                                class="layui-btn" lay-submit lay-filter="formDemo">
                        </div>
                    </div>
                    <!-- 注册链接 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block layui-margin-zero flex">
                            没有账号？<a href="">立即注册</a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</body>
<script src="/js/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/node_modules/axios/dist/axios.js"></script>
<script>

    var login1 = new Vue({
        delimiters: ['${', '}'],
        el: '#lapp',

        data() {
            return {
                add: {
                    mail: '',
                    passwd: '',
                    is_auto: true
                },
                mailtips: '',
                passwdtips: ''
            }
        },
        methods: {
            // 验证邮箱
            mailname: function () {
                if (this.add.mail == "") {
                    this.mailtips = '*邮箱不能为空'
                } else if (!(/^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(this.add.mail))) {
                    this.mailtips = '*邮箱格式不正确'
                }
            },
            focus_mail: function () {
                this.mailtips = ''
            },
            // 验证密码
            pwdname: function () {
                if (this.add.passwd == "") {
                    this.passwdtips = '*密码不能为空'
                }
            },
            focus_pwd: function () {
                this.passwdtips = ''
            },

            login: function () {
                axios.post('/login/check', this.add)
                    .then((res) => {
                       console.log(res)
                    })
            },
            is_uto: function () {
                this.add.is_auto = !this.add.is_auto
            }
        },
    })


</script>

</html>