<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
    <title>登录</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="/js/element/node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- <div id="app1">
        <input type="checkbox" name="is_auto" title="记住密码" lay-skin="primary" v-model="iss" @click="is_auto">
    </div> -->

    <div id="lapp" class="l1">
        <el-form :model="add" :rules="rules" ref="add" label-width="100px" class="demo-ruleForm">
            <div style="margin: 0 auto;width: 90%;height: 100%;">
                <div class="l1-title">
                    Login
                </div>
                <div class="l1-form">
                    <!-- 邮箱 -->
                    <div class="layui-form-item">
                        <div class="login-name">
                            邮箱
                        </div>

                        <div class="layui-input-block layui-margin-zero">
                            <el-form-item prop="mail">
                                <el-input v-model="add.mail" placeholder="请输入邮箱"></el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <!-- 密码 -->
                    <div class="layui-form-item" style="margin-bottom: 0;">
                        <div class="login-name">密码</div>
                        <div class="layui-input-block layui-margin-zero">
                            <el-form-item prop="passwd">
                                <el-input type="password" placeholder="请输入密码" v-model="add.passwd" autocomplete="off">
                                </el-input>
                            </el-form-item>
                        </div>

                    </div>
                    <!-- 两功能 -->
                    <div style="display: flex;justify-content: space-between;">
                        <!-- 复选框 -->
                        <template>
                            <el-checkbox v-model="add.type">记住密码</el-checkbox>
                        </template>
                        <!-- 忘记密码 -->
                        <div class="layui-input-block" style="margin-left: 0;display: flex;">
                            <a href="">忘记密码？</a>
                        </div>
                    </div>
                    <!-- 提交 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block layui-margin-zero">
                            <!-- <button style="width: 100%;font-size: 17px;" class="layui-btn" lay-submit lay-filter="formDemo"></button> -->

                            <el-button style="width: 100%;" type="primary" @keyup.enter="login('add')" @click="login('add')">${logintext}
                            </el-button>
                        </div>
                    </div>
                    <!-- 注册链接 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block layui-margin-zero flex">
                            没有账号？<a href="">立即注册</a>
                        </div>
                    </div>
                </div>

            </div>
        </el-form>
    </div>

</body>
<script src="/js/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/node_modules/axios/dist/axios.js"></script>
<script src="/js/node_modules/axios/dist/axios.init.js"></script>
<script src="/js/qs/dist/qs.js"></script>
<script src="/js/element/node_modules/element-ui/lib/index.js"></script>
<!-- <script src="/js/layui/lay/modules/layer.js"></script> -->


<script>
    var login1 = new Vue({
        delimiters: ['${', '}'],
        el: '#lapp',

        data() {
            return {
                add: {
                    mail: '',
                    passwd: '',
                    // type: [],
                    type: true
                },
                logintext: '登 录',
                rules: {
                    mail: [{
                            required: true,
                            message: '请输入邮箱地址',
                            trigger: 'blur'
                        },
                        {
                            type: 'email',
                            message: '请输入正确的邮箱地址',
                            trigger: ['blur']
                        }
                    ],
                    passwd: [{
                        required: true,
                        message: '请输入密码',
                        trigger: 'blur'
                    }, 
                    { min: 8, max: 10, message: '密码在八位和十位之间', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            login(add) {
                this.$refs[add].validate((valid) => {
                    if (valid) {
                        var par = window.Qs.stringify({
                            mail: this.add.mail,
                            passwd: this.add.passwd,
                            type: this.add.type
                        })
                        axios.interceptors.request.use((config) => {
                            // 在发送请求之前做些什么
                            this.logintext = '正在登录...'
                            // this.isShow = true
                            return config;
                        }, function (error) {
                            // 对请求错误做些什么
                            this.logintext = ''
                            return Promise.reject(error);
                        });
                        axios.post('/login/check', par)
                            .then((res) => {
                                if (res.data.state == '0') {
                                    layer.msg(res.data.msg, {
                                        icon: 5
                                    });
                                    this.logintext = '登 录'
                                } else {
                                    layer.msg(res.data.msg, {
                                        icon: 1
                                    });
                                    this.logintext = '正在登录...'
                                    window.location.href = "/project/list";
                                    // localStorage本地存储
                                    let user = JSON.stringify(res.data);
                                    localStorage.setItem('user', user);
                                }
                            })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            is_uto: function () {
                this.add.is_auto = !this.add.is_auto
            },

            // 密码

        },
    })
    layui.use('layer', function () {
        var layer = layui.layer;

    });
</script>

</html>