<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!-- <div id="app1">
        <input type="checkbox" name="is_auto" title="记住密码" lay-skin="primary" v-model="iss" @click="is_auto">
    </div> -->

    <div id="lapp" class="l1">
        <form onsubmit="return false">
            <div style="margin: 0 auto;width: 90%;height: 100%;">
                <div class="l1-title">
                    Login
                </div>
                <div class="l1-form">
                    <!-- 邮箱 -->
                    <div class="layui-form-item" style="padding-bottom: 10px;">
                        <label class="layui-form-label"
                            style="width: auto;padding: 0;text-align: left;padding-bottom: 5px;">邮箱
                            <span class="login_tips">${mailtips}</span>
                        </label>

                        <div class="layui-input-block layui-margin-zero">
                            <input type="text" :class="{login_color:clo}" name="mail" ref="mail" @focus="maildey"
                                @blur="mailkey" placeholder="请输入邮箱" autocomplete="off" class="layui-input"
                                v-model="add.mail">
                        </div>

                    </div>
                    <!-- 密码 -->
                    <div class="layui-form-item" style="padding-bottom: 10px;margin-bottom: 0;">
                        <label class="layui-form-label"
                            style="width: auto;padding: 0;text-align: left;padding-bottom: 5px;">密码
                            <span class="login_tips">${passwdtips}</span>
                        </label>
                        <div class="layui-input-block layui-margin-zero">
                            <input type="password" :class="{login_color_pwd:copwd}" ref="pwd" @focus="pwddkey"
                                @blur="pwdkey" name="passwd" placeholder="请输入密码" autocomplete="off" class="layui-input"
                                v-model="add.passwd">
                        </div>
                    </div>
                    <!-- 两功能 -->
                    <div style="display: flex;justify-content: space-between;">
                        <!-- 复选框 -->
                        <div class="layui-form-item">
                            <!-- <label class="layui-form-label">复选框</label> -->
                            <div class="layui-input-block layui-margin-zero flex">
                                <input id="layui_isauto" type="checkbox" name="is_auto" title="" v-model="add.is_auto"
                                    @click="is_uto">
                                <label for="layui_isauto" style="padding-left: 5px;">记住密码</label>
                            </div>
                        </div>
                        <!-- 忘记密码 -->
                        <div class="layui-form-item">
                            <!-- <label class="layui-form-label">复选框</label> -->
                            <div class="layui-input-block" style="margin-left: 0;display: flex;align-items: center;">
                                <a href="">忘记密码？</a>
                            </div>
                        </div>
                    </div>
                    <!-- 提交 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block layui-margin-zero">
                            <!-- <button style="width: 100%;font-size: 17px;" class="layui-btn" lay-submit lay-filter="formDemo"></button> -->
                            <input type="submit" v-bind:value="logintext" @click="login"
                                style="width: 100%;font-size: 17px;" class="layui-btn" lay-submit lay-filter="formDemo">
                        </div>
                    </div>
                    <!-- 注册链接 -->
                    <div class="layui-form-item">
                        <div class="layui-input-block layui-margin-zero flex">
                            没有账号？<a href="">立即注册</a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</body>
<script src="/js/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/node_modules/axios/dist/axios.js"></script>
<script src="/js/node_modules/axios/dist/axios.init.js"></script>
<script src="/js/qs/dist/qs.js"></script>
<!-- <script src="/js/layui/lay/modules/layer.js"></script> -->


<script>
    var login1 = new Vue({
        delimiters: ['${', '}'],
        el: '#lapp',

        data() {
            return {
                add: {
                    mail: '',
                    passwd: '',
                    is_auto: true
                },
                mailtips: '',
                passwdtips: '',
                clo: false,
                copwd: false,
                logintext: '登 录'
            }
        },
        methods: {
            login: function () {
                var par = window.Qs.stringify({
                    mail: this.add.mail,
                    passwd: this.add.passwd,
                    is_auto: this.add.is_auto
                })
                axios.interceptors.request.use((config) => {
                    // 在发送请求之前做些什么
                    this.logintext = '正在登录...'
                    // this.isShow = true
                    return config;
                }, function (error) {
                    // 对请求错误做些什么
                    this.logintext = ''
                    return Promise.reject(error);
                });

                axios.post('/login/check', par)
                    .then((res) => {
                        if (res.data.state == '0') {
                            layer.msg(res.data.msg, {
                                icon: 5
                            });
                            this.logintext = '登 录'
                        } else {
                            layer.msg(res.data.msg, {
                                icon: 1
                            });
                            this.logintext = '正在登录...'
                            window.location.href = "/project/list";
                            // localStorage本地存储
                            let user = JSON.stringify(res.data);
                            localStorage.setItem('user',user);
                        }
                    })
            },
            is_uto: function () {
                this.add.is_auto = !this.add.is_auto
            },
            mailkey: function () {
                if (this.$refs.mail.value == "" || !(
                        /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(this.$refs.mail
                            .value))) {
                    this.mailtips = '*邮箱格式不正确'
                    this.clo = true
                } else {
                    this.mailtips = ''
                    this.clo = false
                }
            },
            maildey: function () {
                this.mailtips = ''
            },
            // 密码
            pwdkey: function () {
                if (this.$refs.pwd.value == "") {
                    this.passwdtips = '*密码不正确'
                    this.copwd = true
                } else {
                    this.passwdtips = ''
                    this.copwd = false
                }
            },
            pwddkey: function () {
                this.passwdtips = ''
            }
        },
    })
    layui.use('layer', function () {
        var layer = layui.layer;

    });
</script>

</html>