{{define "layout"}}
<!DOCTYPE html>

<include src="/head.html"></include>

<html>

<body>

    <!--head-->
    {{.}}

    {{ end }}
    {{ template "head"}}
    <title>创建项目页面</title>
    <!-- setting -->
    <form id="form1" onsubmit="return false" method="post">
        <!-- {{.}} -->
        <div class="detail_setting_body_setting">
            <!-- <div class="detail_setting_body_title">
                <a href="/project/list">所有项目</a></label>
            </div> -->
            <div class="detail_setting_body_hr" style="height: 23px;">

            </div>
            <div class="detail_setting_body_input">
                <div class="">
                    <input id="project_name" name="name" maxlength="15" class="detail_setting_body_input_1" type="search"
                        placeholder="项目名称" required />
                </div>
                <div>
                    <textarea id="project_des" name="note" class="detail_setting_body_input_2" maxlength="121"
                        placeholder="简单描述项目，以便于其他人的理解"></textarea>
                </div>
            </div>

            <div id="project_type" class="detail_setting_body_type">
                <label>项目类型</label>
                <div class="detail_setting_body_type_radio" style="display:none">
                    <input type="radio" id="radio1" name="type" value="1" /><label for="radio1">看板项目</label>
                    <label style="font-size:11px; color: gray">擅长处理流程化任务，适用于产品研发、用户支持等场景</label>
                </div>
                <div class="detail_setting_body_type_radio2">
                    <input type="radio" id="radio2" name="type" value="2" checked="checked" /><label for="radio2"> 标准项目
                    </label><label style="font-size:11px; color: gray">更好地组织、细分和管理任务，适用于一般项目管理</label>
                </div>
            </div>
            <form id="form2" onsubmit="return false" method="GET">
                <div id="cbox" class="detail_setting_body_per">
                    <label>项目成员</label>
                    <div class="detail_setting_body_box">
                        <input id="checkboxall" type="checkbox" />
                        <label for="checkboxall">所有人</label>
                        <!-- <a href="">查看变更日志</a> -->
                    </div>
                    <div id="task_tmp"></div>

                    <div id="cb" class="detail_setting_body_checkbox">

                    </div>
                </div>
            </form>

            <div class="detail_setting_body_lable">

                <div class="detail_setting_body_lable_a">
                    <label>项目标签&nbsp(注：输入的标签内容在 <strong>6</strong> 字之内)</label>

                </div>
            </div>
            <!-- 标签 -->
            <div id="project_tag" class="detail_setting_body_need" style="width: 100%;height: auto;float: left;">

                <div class="project_system" style="clear: both;float: left;">
                    <div>
                        <div style="float: left;font-size: 12px;">系统标签：</div>
                    </div>
                    <div class="wd_project_system"
                        style="min-width: 70px;height: 25px;line-height: 20px;border-radius: 5px;clear: both;float: left;">
                        <div style="text-align: center;">
                            <input type="text" value="<BUG>" name='tag' readonly="readonly"
                                style="font-size: 14px;color: white;">
                        </div>
                    </div>
                    <div class="wd_project_system_yanchi"
                        style="min-width: 70px;height: 25px;line-height: 20px;border-radius: 5px;float: left;">
                        <div style="text-align: center;">
                            <input type="text" value="<延迟>" name='tag' readonly="readonly"
                                style="font-size: 14px;color: white;">
                        </div>
                    </div>
                </div>
                <!-- <i class="wd_project_system_i" style="margin-top: -2px;float: right;cursor: pointer;">x</i> -->
                <div class="main" style="clear: both;float: left;width: 98%;padding-bottom: 5px;">
                    <div class="wd-add-tag_new">
                        <div style="float: left;font-size: 12px;margin-top: 10px;">自定义标签：</div>
                        <div style="margin-left: -10px;margin-top: 8px;clear: both;">
                            <!-- <div class="wd_project_custom" style="min-width: 100px;height: 25px;line-height: 27px;border-radius: 5px;float: left;">
                                <div>
                                    <input type="text" value="" style="font-size: 14px;color: white;">
                                    <i class="wd_project_system_i" style="margin-top: -2px;float: right;cursor: pointer;">x</i>
                                </div>
                            </div> -->
                            <div class="wd_project_add_tag"
                                style="float: left;font-size: 12px;margin-left: 12px;margin-top: 2px;line-height: 2;cursor: pointer;">
                                <div id="wd_project_add_ttag" onclick="add_newtagg()">添加</div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
            <!-- 标签 -->
            <hr>


            <div class="detail_setting_body_button"
                style="margin-top: 16px;line-height: 23px;height: 47px;padding-bottom:0px;">
                <div id="detail_setting_body_save">
                    <input type="submit" id="dosubmit" value="确定" onclick="Add()">


                    <input class="reset" type="reset" value="取消" style="margin-left: 10px;">
                </div>
            </div>

            <div id="detail_setting_body_span">
                <span class="detail_setting_body_alert"></span>
            </div>
    </form>
    <!-- <div class="detail_setting_body_bottom">
            <div class="detail_setting_body_Archive">
                <label>项目归档</label>
            </div>
            <div class="detail_setting_body_delect">
                <label>删除项目</label>
            </div>
        </div> -->
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        layer.tips('点击添加自定义标签', '#wd_project_add_ttag');
        $('.reset').click(function () {
            window.location = "/project/list";
        })
    })

    function Add() {
        let data = [];//定义一个空数组
        let str = $('#form1').serialize();//提取form1里面的所有数据
        let arr = str.split("&");//切割&
        let user = [];//定义空数组
        let tag = [];
        let length = arr.length;//定义arr的长度
        for (let i = 0; i < length; i++) {//for循环
            let tmp = arr[i].split("=");//定义tmp，切割arr[i]的'='
            if (tmp[0] == 'user') {//如果tmp等于user，
                user.push(tmp[1]);//push下标
            } else if (tmp[0] == 'tag') {
                tag.push(tmp[1]);
            } else {
                data.push(arr[i]);
            }
        }
        // alert(user)
        if (user == '') {
            data.push("user=");
        } else {
            data.push("user='" + user.join("','") + "'");
        }
        data.push("tag=" + tag.join(","));
        data = data.join('&');
        $.ajax({
            url: "/project/add_submit",
            async: false,
            type: "post",
            data: data,
            success: function (result, testStatus) {


                if (result.state == 0) {
                    $('.detail_setting_body_alert').text();
                    $('.detail_setting_body_alert').css('display', 'block');
                    layer.msg(result.msg)
                    //window.location = "http://192.168.241.130/index.html"
                } else if (result.state == 1) {
                    layer.msg('正在创建项目...')
                    // $('.detail_setting_body_alert').css('display', 'block');
                    // alert(result.msg);
                    setTimeout(function () {
                        layer.msg('创建项目成功');
                    }, 900);
                    setTimeout(function () {
                        window.location = "/project/list";
                    }, 1200);
                }
            },
            error: function (xhr, errorMessage, e) {
                alert("系统异常");
            }
        })
    }
    $(document).ready(function () {
        $.ajax({
            url: "/member/all",
            async: false,
            type: "GET",
            data: $('#form2').serialize(),
            success: function (data, result, testStatus) {



                if (data && data.data && data.data.length) {
                    var pdata = data.data.map(item => {
                        // data.data.map(item=>`'${item}'`).join();
                        let itemKey = Object.keys(item)[0];//注释
                        // var d =JSON.stringify(pdata);
                        return {
                            gid: itemKey,
                            name: item[itemKey]
                        };
                    });
                    for (var i = 0; i < pdata.length; i++) {


                        let aee = JSON.parse(localStorage.getItem('userLogin'));
                        var ugid = aee.ugid;
                        let na = decodeURIComponent(aee.name);
                        let nname = na.replace(/\+/g, '')
                        var result = nname.replace(/(^\s+)|(\s+$)/g, "");//去掉前后空格


                        aa = pdata[i];


                        aa = document.querySelector('#cb');

                        if(ugid == pdata[i].gid){

                        }else{
                            $(aa).append('<span id="cb" class="detail_setting_body_checkbox" style="margin-left: 12px;">'
                            + '<input id="cb' + i + '" class="cbcbcb" type="checkbox" name="user" value=' + pdata[i].gid + '  />' +
                            '<input id="cbbtmp' + i + '" style="display:none;" class="cbxtmohi" type="checkbox" value="0"  />' +
                            '<label for ="cb' + i + '" style="cursor: pointer;margin: 3px;position: relative;top: -2px;" >'
                            + decodeURIComponent(pdata[i].name) + '</label>' + '</span>')
                        }
                        

                        addmmbindexx(i)
                    }
                }
            },
            error: function (xhr, errorMessage, e) {
                alert("系统异常");
            }
        })
    }

    )
    function addmmbindexx(i) {
        $('#cb' + i).click(function () {
            if (this.checked) {
                $('#cbbtmp' + i).val('1')
            } else {
                $('#cbbtmp' + i).val('0')
            }
            paintosss()
        })

        $('#checkboxall').click(function () {
            if (this.checked) {
                $('#cbbtmp' + i).val('1')
            } else {
                $('#cbbtmp' + i).val('0')
            }
        })
    }
    function paintosss() {
        var rrr = new Array();
        let arr = $('#cb .cbxtmohi');
        for (let j = 0; j < arr.length; j++) {
            rrr.push(arr[j].getAttribute('value'));
        }
        let index = rrr.indexOf('0');
        if (index == -1) {
            $('#checkboxall').prop('checked', true)
        } else {
            $('#checkboxall').prop('checked', false)
        }
        return index

    }

</script>

<style>
    #cb {
        font-size: 12px;
        position: relative;
        right: 0px;
        top: 5px;
    }

    #lbl {
        margin-left: 5px;
    }

    #project_tag {
        display: block;
    }
</style>
<script>



</script>