{{define "layout"}}
<!DOCTYPE html>
<html>

<body>



    {{ end }}
    {{ template "head"}}
    <title>标准项目</title>

    <div class="main">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title" style="display: flex;justify-content: space-between;">
                <li class="layui-this el-icon-s-order">项目信息</li>
                <div style="width: 70%;"></div>
                <li class="el-icon-s-cooperation">项目设置</li>
                <li class="el-icon-s-comment">项目日志</li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">1</div>
                <div class="layui-tab-item">2</div>
                <div class="layui-tab-item">3</div>
            </div>
        </div>
    </div>
</body>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
</script>