{{define "layout"}}
<!DOCTYPE html>
<html>

<body>



    {{ end }}
    {{ template "head"}}
    <title>标准项目</title>

    <div class="main">
        <div class="layui-tab layui-tab-card" lay-filter="test1">
            <ul class="layui-tab-title" style="display: flex;justify-content: space-between;">
                <li class="layui-this el-icon-s-order" lay-id="111">项目信息</li>
                <div style="width: 70%;"></div>
                <li class="el-icon-s-cooperation" lay-id="222" @click="proset">项目设置</li>
                <li class="el-icon-s-comment" lay-id="333">项目日志</li>
            </ul>
            <div class="layui-tab-content">
                <div id="project_info" class="layui-tab-item layui-show">
                    <el-tabs :tab-position="tabPosition" v-model="editableTabsValue">
                        <el-tab-pane name="1" label="项目的信息">
                            <div class="projectinfo">
                                <div class="protitle">
                                    <el-divider content-position="left">项目名称</el-divider>
                                    <span>{{.project_name}}</span>
                                </div>
                                <div class="protitle">
                                    <el-divider content-position="left">项目参与人数</el-divider>
                                    <span>{{.project_member}}</span>
                                </div>
                                <div class="protitle">
                                    <el-divider content-position="left">项目备注</el-divider>
                                    <span v-if="">{{.project_note}}</span>
                                </div>

                                <!-- <div class="protitle" style="display: flex;justify-content: center;">
                                    <el-button plain>去设置 <span class="el-icon-right"></span> </el-button>
                                </div> -->
                            </div>
                        </el-tab-pane>
                        <el-tab-pane name="2" label="项目的任务">
                            <div>
                                <div class="task-title">
                                    <el-breadcrumb separator-class="el-icon-arrow-right">
                                        <el-breadcrumb-item><strong>{{.project_name}}</strong> 项目下</el-breadcrumb-item>
                                        <el-breadcrumb-item>任务列表</el-breadcrumb-item>
                                        <el-breadcrumb-item>
                                            <el-dropdown split-button type="primary" @click="haddtask">
                                                添加任务
                                                <el-dropdown-menu slot="dropdown">
                                                    <el-dropdown-item><span @click="addtasklist">添加任务清单</span>
                                                    </el-dropdown-item>
                                                </el-dropdown-menu>
                                            </el-dropdown>
                                        </el-breadcrumb-item>
                                    </el-breadcrumb>
                                </div>
                            </div>

                            <!-- 弹出 -->
                            <el-dialog class="addtask_dislog" title="添加任务" :visible.sync="addtask">
                                <el-form :model="add_ruleForm" :rules="add_rules" ref="add_ruleForm" label-width="100px" class="demo-ruleForm">
                                    <!-- id -->
                                    <el-input type="hidden" v-model="add_ruleForm.tcid"></el-input> 
                                    <!-- 负责人 -->
                                    <el-form-item label="任务负责人" prop="head_user_id">
                                        <el-select v-model="add_ruleForm.head_user_id" placeholder="请选择任务负责人">
                                            <el-option v-for="item in mmb_user" :key="item.id" :label="item.name" :value="item.id">
                                            </el-option>
                                          </el-select>
                                      </el-form-item>
                                    <!-- name -->
                                    <el-tooltip  placement="bottom"  effect="light">
                                    <div slot="content">任务名称示例：! #自定义标签# #自定义标签# 任务名称。!：重点；#：标签</div>
                                    <el-form-item  label="任务名称" prop="name">
                                      <el-input   placeholder="任务名称" v-model="add_ruleForm.name"></el-input>
                                    </el-form-item>
                                    </el-tooltip>
                                    <!-- time -->
                                    <el-form-item label="完成时间" prop="expect_end_time">
                                        <el-date-picker  value-format="yyyy-MM-dd" v-model="add_ruleForm.expect_end_time" align="right" type="date" placeholder="选择日期" :picker-options="pickerOptions">
                                      </el-date-picker>
                                      </el-form-item>
                                      <!-- tag -->
                                      <el-form-item label="任务标签" prop="tag">
                                        <el-select v-model="add_ruleForm.tag"  multiple  placeholder="请选择任务标签">
                                            <el-option v-for="(item,index) in task_tag" :key="index" :label="item" :value="item">
                                            </el-option>
                                          </el-select>
                                      </el-form-item>
                                      <!-- note -->
                                      <el-form-item label="任务备注">
                                        <el-input type="textarea" placeholder="任务备注" v-model="add_ruleForm.note"></el-input>
                                      </el-form-item>
                                      <!-- <button></button> -->
                                      <el-form-item>
                                        <el-button type="primary" @click="submitForm('add_ruleForm')">立即创建</el-button>
                                        <el-button @click="resetForm('add_ruleForm')">重置</el-button>
                                      </el-form-item>
                                </el-form>
                            </el-dialog>
                            {{define "layout"}}
                            {{ end }}
                            {{ template "task"}}
                        </el-tab-pane>

                    </el-tabs>
                </div>
                <!-- 项目设置 -->
                <div id="proset" class="layui-tab-item">项目设置</div>
                <div class="layui-tab-item">3</div>
            </div>
        </div>
    </div>

    <script>
        var pset = new Vue({
            el: '#proset',
            data() {
                return {
                    gid: ''
                }
            },
            mounted() {
                var id = '{{.project_gid}}'
                this.gid = id

            }
        })
    </script>
    {{define "layout"}}
    {{ end }}
    {{ template "foot"}}
</body>
<script>
    layui.use('element', function () {
        var element = layui.element;
        layui.use('element', function () {
            var element = layui.element;
            //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
            var layid = location.hash.replace(/^#test1=/, '');
            element.tabChange('test1',
                layid); //假设当前地址为：http://a.com#test1=222，那么选项卡会自动切换到“发送消息”这一项
            //监听Tab切换，以改变地址hash值
            element.on('tab(test1)', function () {
                location.hash = 'test1=' + this.getAttribute('lay-id');
            });
        });
    });
</script>