.nav_bar_u1{
    display: flex;
    align-items: center;
}
.nav li a{
    color: white;
}
.nav_active{
    border-bottom: 2px solid #409eff;
}
.nav_active a{
    color: #000000 !important;
    border-bottom: 2px solid #409eff;
}

.navbar-header button{
    color: white;
    border: 1px solid;
}
.navbar-header button span{
    color: white;
    border: 1px solid;
}


/* 首页 */
.container{
    min-height: 500px;
    /* background-color: rgba(255, 255, 255, 0.932); */
    border-radius: 5px;
    width: 95%;
}
.list_main{
    min-height: 70px;
    /* border-bottom: 1px solid #aaa; */
}
.list_main .el-tabs__content{
    min-height: 400px;
}
.list_main .listdad a{
    display: flex;
    width: 90%;
    /* border: 1px solid; */
    height: 90%;
    align-items: center;
    justify-content: center;
    background: #409eff;
    white-space: normal;
    word-break: break-all;
    color: white;
}
.list_main .el-tab-pane{
    display: flex;
    flex-wrap: wrap;
}
.list_main .listdad{
    width: 20%;
    /* border: 1px solid; */
    height: 180px;
    align-items: center;
    justify-content: center;
    background: none;
    white-space: normal;
    word-break: break-all;
    cursor: pointer;
    display: inline-flex;
    min-width: 130px;
}
.list_main .el-select{position: absolute;right: 0;}
.list_main .el-select input{
    background-color: whitesmoke;
    border: 0;
    width: 100px;
    text-align: center;
}
.nav .el-link--inner{border: 1px solid;padding: 5px;border-radius: 5px;}

/* 脚 */
.nav-foot{
    background: rgba(255, 255, 255, 0.932);
    width: 93%;
    margin: 0 auto;
    height: 200px;
}

/* 添加项目 */
.layuiAddform{
    width: 90%;
    /* height: 90%; */
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 auto;
    padding-top: 30px;
}
/* 项目列表 */
.main{
    width: 93%;
    margin: 0 auto;
}
.layui-tab-card>.layui-tab-title .layui-this{
    color: #409eff;
}
.el-icon-s-order:before{
    padding-right: 10px;
}
.el-icon-s-cooperation:before{
    padding-right: 10px;
}
.el-icon-s-comment:before{
    padding-right: 10px;
}
.layui-tab-content{
    background: rgba(255, 255, 255, 0.932);
    
}
.main .layui-tab-item,.main .el-tabs__nav-wrap{
    min-height: 400px;
}

.projectinfo{
    min-height: 400px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.projectinfo .protitle{
    width: 100%;
    padding-bottom: 40px;
}
.protitle span{
    display: block;
    width: 96%;
    margin: 0 auto;
}
/* 任务头 */
.task-title{
    display: flex;
    align-items: center;
    min-height: 40px;
}
.task-title .el-breadcrumb{display: flex;align-items: center;}
.task-define{
    display: flex;
    justify-content: space-between;
}
.task-de-use{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-de-list{width: 95%;}
.task-de-use .el-button+.el-button{margin-left: 0px;}
.task-de-use .el-button--mini, .el-button--mini.is-round{padding: 3px 15px;}
.addtask_dislog .el-select{width: 100%;}
.addtask_dislog .el-date-editor.el-input, .el-date-editor.el-input__inner{width: 100%;}
.addtask_dislog .el-form-item__label{display: flex;justify-content: flex-end;}
/* 超小设备（手机，小于 768px） */
/* Bootstrap 中默认情况下没有媒体查询 */

/* 小型设备（平板电脑，768px 起） */
@media screen and (max-width: 806px){
    .navbar-collapse{background: white;position: absolute;width: 95%;border: 1px solid rgb(204, 204, 204);z-index: 3;}
    .nav li a{color: black;}
    .nav li a:hover{color: #409eff;}
 }

/* 中型设备（台式电脑，992px 起） */
@media screen and (max-width: 562px){
    .navbar-collapse{background: white;position: absolute;width: 95%;border: 1px solid rgb(204, 204, 204);z-index: 3;}
    .nav li a{color: black;}
    .nav li a:hover{color: #409eff;}
}
@media screen and (min-width: 806px){
    .navbar-collapse{background: none;position: inherit; width: 100%; border: 0;z-index: 3;}
    .nav li a{color: white;}
    .nav li a:hover{color: #409eff;}

}
@media (min-width: 768px){
    .navbar-collapse{background: none;position: inherit; width: 100%; border: 0;z-index: 3;}
    .nav li a{color: white;}
    .nav li a:hover{color: #409eff;}
}
/* 大型设备（大台式电脑，1200px 起） */
@media (min-width: 1200px) {
    .navbar-collapse{background: none;position: inherit; width: 100%; border: 0;z-index: 3;}
    .nav li a{color: white;}
    .nav li a:hover{color: #409eff;}
 }