body{
    height: 1000px;
    background-color: rgba(0, 139, 139, 0.527);
}
#ag_1{
    width: 500px;
    height: 240px;
    text-align: center;
    background-color:white;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 120px;
    position: relative;
}
#ag_2{
    transition: all 0.30s ease-in-out;
    border:1px solid #ddd;
}
#ag_2:focus{
    box-shadow: 0 0 5px red;
    outline: none;
}


#ag_2_1 {
    position: absolute;
    top: 86px;
    left: 430px;
    width: 0;
    height: 0;
    border-width: 13px 13px 13px 0;
    border-style: solid;
    border-color: transparent rgba(255, 81, 0, 0.534) transparent transparent;
    color:#666666;
}

#ag_2_2 {
    width: 110px;
    height: 26px;
    background: rgba(255, 81, 0, 0.534);
    position: absolute;
    top: 86px;
    left: 442.5px;
    font-size: 15px;
    color:#666666;
}
#ag_2_3{
    width: 130px;
    height: 26px;
  /*  position: absolute;
    top: 215px;
    left: 190px;*/
    font-size: 15px;
    color:#666666;
    margin: 0 auto;
    
}
#task_tmp{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15px;
    min-width: 200px;
    height: 20px;
    z-index: 2px;

    font-size: 13px;
   
    text-align: center;
    display: none;
    
    color: red;
    border-radius: 5px;
    background-color: white;


    font-family: "microsoft yahei", 宋体;

}

#ag_1>span {
    display: none;
    color: white;
}
#mail_ag>span {
    display: none;
    color: white;
}
#ag_3{
    background:inherit;
    background-color:rgba(22, 171, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-width:0px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 165px;
    left: 115px;
    
}
#text{
    transition: all 0.30s ease-in-out;
    border:1px solid #ddd;
}
#text:focus{
    box-shadow: 0 0 5px red;
    outline: none;
}




#ag_4{
    background-color:white;
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 200px;
    position: relative;
}
#ag_5{
    margin-top: 25px;
    transition: all 0.30s ease-in-out;
    border:1px solid #ddd;
}
#ag_5:focus{
    box-shadow: 0 0 5px red;
    outline: none;
}


#ag_5_1 {
    position: absolute;
    top: 160px;
    left: 430px;
    width: 0;
    height: 0;
    border-width: 13px 13px 13px 0;
    border-style: solid;
    border-color: transparent rgba(255, 81, 0, 0.534) transparent transparent;
    color:#666666;
}

#ag_5_2 {
    width: 110px;
    height: 26px;
    background: rgba(255, 81, 0, 0.534);
    position: absolute;
    top: 160px;
    left: 443px;
    font-size: 15px;
    color:#666666;
}
#ag_5_3{
    position: absolute;
    top: 170px;
    left: 380px;
}


#passwd_ag>span {
    display: none;
    color: white;
}
#ag_6{
    background:inherit;
    background-color:rgba(22, 171, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-width:0px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 115px;
    
}
#text{
    margin-top: 25px;
    transition: all 0.30s ease-in-out;
    border:1px solid #ddd;
}
#text:focus{
    box-shadow: 0 0 5px red;
    outline: none;
}
h4 {
    position: absolute;
    top: 240px;
    left: 100px;
}

p {
    position: absolute;
    top: 220px;
    left: 100px;
    font-size: 15px;
}
#sign1{
    position: absolute;
    top: 260px;
    left: 100px;
    width: 230px;
    color: red;
}

