textarea{
	box-shadow: none !important;
}
textarea:focus{
	border-color:none !important;
    outline: none !important;
}
input{
	box-shadow: none !important;
}
input:focus{
	border-color:none !important;
    outline: none !important;
}
input:checkbox{
	cursor: default !important;
}
.wd-view-per{
	background-color: white;
	margin: 20px auto;
	border: 1px solid rgba(255, 255, 255, 0.322);
	width: 954px;
	min-height: 700px;
}
.wd-view-title{
	text-align: center;
	margin: 0 auto;
	width: 95%;
	height: 67px;
	border-bottom: 1px solid #999999;
}
.wd-view-h3{
	text-align: center;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	margin-top: 10px;
	letter-spacing:10px;
	font-size: 18px;
}
/*报告人*/
.wd-view-reportman{
	display: inline;
	color: #999999;
	font-size: 14px;
	text-align: left;
	/* margin-left: -60px; */
	position: relative;
	top: 6px;
	float: left;
}
.wd-view-reportman div{
	display: inline;
}
.wd-view-reportman-people{
	/* text-decoration: underline; */
}
/*报告日期*/
.wd-view-reportdate{
	display: inline;
	color: #999999;
	font-size: 14px;
	text-align: center;
	position: relative;
	top: 3px;
	/* left: 102px; */
}
.wd-view-reportdate-time input{
	width: 76px;
}
.wd-view-reportdate div{
	display: inline;
	
}
.wd-view-reportdate div:not(:first-child){
	/* text-decoration: underline; */
}
.wd-view-reportdate div input{
	/* border: none; */
	outline: none;
	font-size: 12px;
	width: 68px;
}
/*审核人*/
.wd-view-Reviewman{
    position: relative;
	top: 2px;
	/* left: 58px; */
}
.wd-view-Reviewman div:first-child{
	text-align: right;
	color: #999999;
	font-size: 14px;
	/* margin-left: 132px; */
}
.wd-view-Reviewman  div:not(:first-child){
	text-decoration: underline;
}
/* 所有成员 */
.wd-view-Reviewman-select{
	font-size: 14px;
	color: red;
	border: 0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	width: 105px;
	white-space: normal;
}
.wd-view-Reviewman-select option{
	color: #999999;
	width: 109px;
}
/*任务检查项*/
.wd-view-task{
	margin: 0 auto;
	width: 99%;
}
.wd-view-task-check-font{
	border-bottom: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	width: 96%;
    /* text-align: center; */
    margin: 0 auto;
}
/*后台升级项目*/
.wd-view-Backstage-update{
	margin: 0 auto;
}
.wd-view-Backstage-update .wd-view-Backstage{
	margin: 0 auto;
	width: 96%;
	height: 26px;
	background-color: rgba(215, 215, 215, 1);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #666666;
	font-size: 13px;

}
.wd-view-Backstage-update .wd-view-Backstage-name{
	position: relative;
	top: 2px;
	left: 10px;
}
/*任务考核*/
.wd-view-task-all{
	
	width: 98%;
	min-height:100px;
	margin: 3px auto; 
}
/*后台升级项目的主任务*/
.wd-view-task-task{
	width: 93%;
	min-height: 170px;
	margin:10px auto;
	margin-left: 54px;
}
/*换行div*/
.wd-view-task-task-wrap{
	width: 93%;
	/* height: 20px; */
	word-break: break-all;
	word-break: normal;
}
/*选中框*/
.wd-view-task-task-show{
	/* border: 1px solid red; */
	width: 99%;
	min-height: 30px;
	/* margin-left: 25px; */
}
.wd-view-task-task-show div{
	display: inline;
	
}
/*旁边的图片*/
.wd-view-task-task-show div img:first-child{
	position: relative;
	bottom: 1px;
	margin-left: 5px;
	cursor: default;
}
/*任务的名称*/
.wd-view-task-task-name{
	word-break: break-all;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #333333;
	text-align: center;
	line-height: normal;
	margin-left: 3px;
}
/*任务的标签*/
.wd-view-task-task-tag div:first-child{
	width: 70px;
	height: 18px;
	background: inherit;
	background-color: inherit;
	background-color: rgba(153, 51, 204, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 2px 6px 2px 6px;
}
.wd-view-task-task-tag div:not(:first-child){
	width: 70px;
	height: 18px;
	background: inherit;
	background-color: inherit;
	background-color: rgba(0, 128, 0, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 2px 6px 2px 6px;
}
.wd-view-task-task-tag div:nth-child(3){
	width: 70px;
	height: 18px;
	background: inherit;
	background-color: inherit;
	background-color: rgba(0, 128, 107, 0.658);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 2px 6px 2px 6px;
}
.wd-view-task-task-tag div:nth-child(4){
	width: 70px;
	height: 18px;
	background: inherit;
	background-color: inherit;
	background-color: rgba(105, 128, 0, 0.705);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 2px 6px 2px 6px;
}
/*任务的时间*/
.wd-view-task-task-date{
	font-size: 13px;
	color: #999999;
}
.wd-view-task-task-date div{
	margin-left: 3px;
}
/*子任务的显示*/
.wd-view-sub{
	width: 90%;
	/*min-height: 75px;*/
	clear: both;
	/* margin-left: 20px; */
	position: relative;
	top: 8px;
}
/*子任务的勾选框*/
.wd-view-sub-task{
	margin-left:48px;
	min-height: 30px;
	width: 76%;
}
.wd-view-sub-task div{
	margin-left: 3px;
	display: inline;
	/* position: relative; */
	bottom: 1px;
}
.wd-view-sub-task div img{
	position: relative;
	bottom: 2px;
	margin-left: 5px;
	cursor: default;
	/* border: 1px solid red; */
}
/*子任务的换行*/
.wd-view-sub-task-wrap{
	/*margin-left: 3px;*/
	width: 86%;
	/*height: 20px;*/
	word-break: break-all;
	word-break: normal;
	/* border: 1px solid red; */
}
/*子任务的名称*/
.wd-view-sub-task-name{
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
}
/*子任务的时间*/
.wd-view-sub-task-date{
	font-size: 14px;
	color:#FF6666;
}
/*底下的评论框*/
.wd-view-sub-task-textarea{
	margin: 0 auto;
	clear: both;
	text-align: center;
}
.wd-view-sub-task-textarea textarea{
	width: 608px;
	height: 76px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	resize: none;
	position: relative;
	left: 38px;
	margin-top: 5px;
}
/*爬虫检查项的显示*/
.wd-view-py{
	margin: 0 auto;
	width: 100%;
	height: 26px;
	background-color: rgba(215, 215, 215, 1);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #666666;
	font-size: 13px;
	clear: both;
	margin-top: 22px;
}
.wd-view-py div{
	position: relative;
	top: 3px;
	left: 10px;
}

/* 创新检查项目 */
.wd-view-update{
	width: 95%;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	margin: 0 auto;
	margin-top: 22px;
}
/* 创新text */
.wd-view-update-text{
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
}
.wd-view-update-text textarea{
	width: 693px;
	height: 110px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	resize: none;
	position: relative;
	top: 8px;
	left: 4px;
}
/* 创新审核 */
.wd-view-update-performance div img{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-top: 15px;
}
.wd-view-update-performance{
	float: right;
	position: relative;
	bottom: 100px;
	right: 67px;
}
/* 创新显示审核 */
.wd-view-update-through{
	width: 110px;
	height: 30px;
	border: 1px solid #169BD5;
	display: block;
	position: relative;
	z-index: 2;
	transform: rotate(15deg);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #169BD5;
	right: 367px;
	bottom: 37px;
	display: none;
	font-weight: lighter;
    letter-spacing: 9px;
    opacity: 0.7;
    text-indent: 9px;
}
.wd-view-update-unthrough{
	width: 110px;
	height: 30px;
	border: 1px solid #FF0000;
	display: block;
	position: relative;
	z-index: 2;
	transform: rotate(15deg);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #FF0000;
	right: 367px;
	bottom: 38px;
	display: none;
	font-weight: lighter;
    letter-spacing: 9px;
    opacity: 0.7;
    text-indent: 9px;
}
/* 分享检查项 */
.wd-view-share{
	width: 95%;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	margin: 0 auto;
	position: relative;
	top: 8px;
	margin-top: 32px;
}
/* 分享检查项的主题 */
.wd-view-share-theme{
	margin-top: 10px;
	margin-left: 76px;

}
.wd-view-share-theme input{
	width: 165px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	resize: none;
	position: relative;
	top: 8px;
}
/* 创新审核 */
.wd-view-share-performance div img{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-top: 15px;
}
.wd-view-share-performance{
	float: right;
	position: relative;
	bottom: 100px;
	right: 67px;
}
/* 分享显示审核 */
.wd-view-share-through{
	width: 110px;
	height: 30px;
	border: 1px solid #169BD5;
	display: block;
	position: relative;
	z-index: 2;
	transform: rotate(15deg);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #169BD5;
	right: 367px;
	bottom: 49px;
	display: none;
	font-weight: lighter;
    letter-spacing: 9px;
    opacity: 0.7;
    text-indent: 9px;
}
.wd-view-share-unthrough{
	width: 110px;
	height: 30px;
	border: 1px solid #FF0000;
	display: block;
	position: relative;
	z-index: 2;
	transform: rotate(15deg);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #FF0000;
	right: 367px;
	bottom: 40px;
	display: none;
	font-weight: lighter;
    letter-spacing: 9px;
    opacity: 0.7;
    text-indent: 9px;
}
/*在谷歌下移除input[number]的上下箭头*/
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
/*在firefox下移除input[number]的上下箭头*/
input[type="number"]{-moz-appearance:textfield;}
.wd-view-share-theme input[type='number']{
	height: 25px;
}
.wd-view-share-theme-date{
	width: 120px !important;
	/* height: 23px; */
}
.wd-view-share-theme label{
	cursor: pointer;
	margin-left: 3px;
	position: relative;
	top: 8px;
	font-size: 13px;
	color: #0000FF;
	text-decoration: underline;
}
/* 分享检查项的编辑 */
.wd-view-share-text{
	margin: 0 auto;
	text-align: center;
	margin-top: 12px;
}
.wd-view-share-text textarea{
	width: 693px;
	height: 110px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	resize: none;
	position: relative;
	top: 8px;
	left: 5px;
}
/* 报告人附言 */
.wd-view-postscript{
	width: 95%;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	margin: 0 auto;
	position: relative;
	top: 8px;
	margin-top: 32px;
}
/* 报告人填写 */
.wd-view-postscript-text{
	margin: 0 auto;
	text-align: center;
	margin-top: 12px;
}
.wd-view-postscript-text textarea{
	width: 705px;
	height: 110px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	resize: none;
	position: relative;
	/* top: 8px; */
	left: 4px;
	margin-top: 15px;
}
/* //审评结果 */
.wd-view-evaluation{
	width: 95%;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	margin: 0 auto;
	position: relative;
	top: 8px;
	margin-top: 20px;
}
/* //表格 */
.wd-view-evaluation-table{
	clear: both;
	position: relative;
	top: 8px;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}
/* 标题 */
.wd-view-evaluation-table .wd-view-evaluation-title td{
	width: 85px;
	height: 30px;
	border: 1px solid;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}

/* 内容 */
.wd-view-evaluation-table .wd-view-evaluation-font td{
	width: 85px;
	height: 60px;
	/* border: 1px solid; */
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
	/* cursor: pointer; */
}
/* 考核人附言 */
.wd-view-peformance-talk{
	width: 95%;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	margin: 0 auto;
	position: relative;
	margin-top: 28px;
}
.wd-view-peformance-text{
	margin: 0 auto;
	text-align: center;
	margin-top: 12px;
}
.wd-view-peformance-text textarea{
	width: 800px;
    height: 110px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    resize: none;
    position: relative;
    left: 4px;
	margin-top: 12px;
}
/* 完成审核按钮 */
.wd-view-finish-performance{
	text-align: center;
	margin: 0 auto;
}
.wd-view-finish-performance input{
	margin-top: 15px;
	background-color: rgba(22, 155, 213, 1);
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: #FFFFFF;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 2px 4px 2px 4px;
}
/* 打退 */
.wd-view-finish-Beat{
	width: 78%;
	text-align: right;
	margin: 0 auto;
}
.wd-view-finish-Beat span{
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: red;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	margin-left: 150px;
	/* text-decoration: underline; */
	cursor: pointer;
	position: relative;
	top: -34px;
}
/* 预览 */
.wd-view-Preview{
	margin-top: 25px;
}
.wd-view-Preview input{
	width: 60px;
	height: 20px;
	background: inherit;
	background-color: inherit;
	background-color: rgba(22, 155, 213, 1);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 13px;
}
.wd-view-Preview input:not(:first-child){
	width: 60px;
	height: 20px;
	background: inherit;
	background-color: inherit;
	/* background-color: rgba(22, 155, 213, 1); */
	border: 1px solid rgba(22, 155, 213, 1);
	border-radius: 5px;
	color: black;
	font-size: 13px;
	margin-left: 10px;
}
.wd-Previews{
	width: 60px;
	height: 20px;
	background: inherit;
	background-color: inherit;
	background-color: rgba(22, 155, 213, 1) !important;
	border: none;
	border-radius: 5px;
	color: white !important;
	font-size: 13px;
}
.wd-perviews-return{
	width: 60px;
	height: 20px;
	background: inherit;
	background-color: inherit;
	/* background-color: rgba(22, 155, 213, 1) !important; */
	border: 1px solid rgba(22, 155, 213, 1);
	border-radius: 5px;
	color: black !important;
	font-size: 13px;
	margin-left: 5px;
	display: none;
}
/* 绩效评分 */
.wd-view-score{
	width: 95%;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #999999;
	margin: 0 auto;
	position: relative;
	top: 8px;
	margin-top: 20px;
}
.wd-view-score-table{
	clear: both;
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-top: 25px;
}
.wd-view-score-table tr td{
	width: 113px;
	height: 30px;
	border: 1px solid;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	color: #333333;
	text-align: center;
	line-height: normal;
}
/* //提示 */
#performance_view{
	position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15px;
    min-width: 220px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    display: none;
    color: rgb(85, 85, 85);
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    font-family: "microsoft yahei", 宋体;
    padding: 5px 10px 5px 15px;
}
/* //confirm审核框 */
.wd-view-sub-rights{
	display: block;
	position: relative;
	z-index: 1;
	float: right;
	/* width: 100px; */
	/* height: 120px; */
	/* border: 1px solid red; */
	/* right: 218px; */
	/* left: 134px; */
	top: -84px;
	text-align: center;
	margin-top: -24px;
}
/* //审核确认框 */
.wd-view-sub-confirm{

}
.wd-view-sub-confirm img{
	/* margin-top: -130px; */
	width: 20px;
	height: 20px;
	cursor: pointer;
}
/* //审核否认框 */
.wd-view-sub-deny{
	margin-top: 15px;
	display: block !important;
}
.wd-view-sub-deny img{
	cursor: pointer;
	width: 20px;
	height: 20px;
}
/* 通过与未通过 */
.wd-view-sub-audit div:first-child{
	width: 110px;
	height: 30px;
	border: 1px solid #169BD5;
	position: relative;
	z-index: 2;
	float: right;
	transform: rotate(15deg);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #169BD5;
	right: 245px;
	bottom: 80px;
	font-weight:lighter;
	letter-spacing: 9px;
	opacity:0.7;
	text-indent: 9px;
}
.wd-view-sub-audit div:not(first-child){
	width: 110px;
	height: 30px;
	border: 1px solid #FF0000;
	display: block;
	position: relative;
	z-index: 2;
	float: right;
	transform: rotate(15deg);
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #FF0000;
	right: 250px;
	bottom: 80px;
	display: none;
	font-weight:lighter;
	letter-spacing: 9px;
	opacity:0.7;
	text-indent: 9px;
}
.wd-view-chong{
	margin-top: 25px;
}
/* 修改报告工时 */
.layer-new-view-mo{
	text-align: center;
}
.layer-new-view-mo div:first-child{
	text-align: center;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	letter-spacing: 10px;
	font-size: 16px;
}
.layer-new-view-mo div:not(first-child){
	margin-top: 20px;
}
.layer-new-view-submit{
	text-align: center;
}
.layer-new-view-submit input{
	margin-top: 45px;
	background-color: rgba(22, 155, 213, 1);
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: #FFFFFF;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 4px 20px 4px 20px;
	margin-left: -94px;	
}
/* 校正工时 */
.wd_view-corre-option{
	position: absolute;
	z-index: 1;
	width: 100px;
	min-height: 100px;
	background: inherit;
    background-color: inherit;
	border-radius: 5px;
	color: rgb(85, 85, 85);
	border-radius: 5px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
	font-family: "microsoft yahei", 宋体;
	padding: 5px 10px 5px 15px;
	display: none;
}
.wd_view-corre-option option{
	width: 100%;
	text-align: center;
	letter-spacing:8px;
	cursor: pointer !important;
	border-radius: 5px;
}
.wd_view-corre-option option:hover{
	background-color: cadetblue;
	color: white;
	cursor: pointer !important;
}
.wd_view-corre-option button{
	text-align: right;
	background-color: rgba(22, 155, 213, 1);
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: #FFFFFF;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	padding: 2px 4px 2px 4px;
	cursor: pointer;
}
.wd_view-corre-option input{
	width: 28px;
	height: 8px;
	text-align: left;
}
.wd_view-corre-option select{
	width: 75px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.wd_view-corre-option select::-ms-expand { display: none; }

/* 审核者签名 */
.wd-view-checker{
	border: 4px red solid;
	width: 120px;
	height: 120px;
	position: relative;
	text-align: center;
	line-height: 30px;
	border-radius: 71px;
	right: 269px;
	margin-top: -118px;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
	color: #FF0000;
	margin-left: 800px;
	top: -35px;
}
.wd-view-checker label{
	position: relative;
	top: 33px;
	font-size: 25px;
	letter-spacing:5px;
}
/* 报告人确认 */
.wd-view-confirm{
	border: 4px #3399FF solid;
	width: 120px;
	height: 120px;
	position: relative;
	text-align: center;
	line-height: 30px;
	border-radius: 71px;
	right: 269px;
	margin-top: -118px;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 600;
	font-style: normal;
	font-size: 20px;
	color: #3399FF;
	margin-left: 400px;
}
.wd-view-confirm label{
	position: relative;
	top: 33px;
	font-size: 25px;
	letter-spacing:5px;
}
.wd-view-finish-confirm-up{
	color: #3399FF;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	margin-left: 112px;
}
/* 报告人附言 */
.wd-view-postscript-textarea-label{
	border: 0px none;
	color: rgb(153, 153, 153);
	height: 60px;
	width: 693px;
	height: 110px;
	font-family: 'Arial Normal', 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	resize: none;
	position: relative;
	top: 8px;
	left: 5px;
}
#layer_wrap{
	list-style-type:demical;
	counter-reset:sectioncounter;
}
#layer_wrap li:before{
	content:counter(sectioncounter) "、"; 
	counter-increment:sectioncounter;
	
}
#layer_wrap li{
	list-style-position:outside;
	padding-left:25px; text-indent:-20px;
}
#layer_wropli li{
	margin-top: 7px;
	padding-left: 72px;
	text-indent: -71.5px;
}
