


.detail_setting_body_setting{
    width: 956px;
    min-height: 470px;
    background-color: white;
    margin: 0 auto;
}
.detail_setting_body_title{
    float: left;
    margin-top: -20px;
    padding-top: 20px;
    width: 100%;
    height: 40px;
    
}
.detail_setting_body_title a{
    color: black;
    text-decoration: none;
    margin: 30px;
    position: relative;
    top: 10px;
}
.detail_setting_body_title a:hover{
    color: red;
}
.detail_setting_body_title a{
    margin-top: 10px;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.detail_new_project{
    float: right;
    background:inherit;
    background-color:rgba(22, 172, 213, 0.767);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-width:0px;
    width: 80px;
    height: 20px;
    text-align: center;
    margin-right: 40px;
}
.detail_new_project label{
    color: black;
    text-decoration: none;
    font-size: 13px;
    color: gainsboro;
}
.detail_new_project label:hover{
    color: rgba(255, 0, 0, 0.63);
}

.detail_setting_body_hr{
    margin: 15px;
}
.detail_setting_body_input{
    width: 465px;
    height: 140px;
    margin: 20px;
    margin-right: 20px;
}
.detail_setting_body_input_1{
    width: 460px;
    height: 30px;
    background: rgba(255, 255, 255, 0.795);
    border: 1px solid gray;
    font-size: 12px;
}
.detail_setting_body_input_2{
    margin-top: 12px;
    width: 457px;
    height: 90px;
    background: rgba(255, 255, 255, 0.795);
    border: 1px solid gray;
    font-size: 12px;
    resize: none;
}
.detail_setting_body_type{
    width: 100%;
    height:54px;
    /* border: 1px solid red; */
}
.detail_setting_body_type label{
    margin: 25px;
    /*font-size: 14px;*/
    font-size: 11px !important;
    color: gray;
}
.detail_setting_body_type_radio{
    width: 100%;
    height: 20px;
    /* border: 1px solid red; */
}
.detail_setting_body_type_radio input{
    margin-left: 35px;
}
.detail_setting_body_type_radio label{
    margin-left: 5px;
    font-size: 11px;
    color: gray;
}

.detail_setting_body_type_radio2{
    width: 100%;
    height: 20px;

}
.detail_setting_body_type_radio2 input{
    margin-left: 35px;
}
.detail_setting_body_type_radio2 label{
    margin-left: 1px;
    font-size: 11px;
    color: gray;
}

.detail_setting_body_per{
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    /* border: 1px solid red; */
}
.detail_setting_body_per label{
    margin: 25px;
    font-size: 14px;
}
.detail_setting_body_box{
    display: inline;
}
.detail_setting_body_box label{
    text-decoration: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
    margin-left: 1px;
}
.detail_setting_body_box a:hover{
    color: red;
}
.detail_setting_body_checkbox{
    margin-left: 14px;
    margin-top: 5px;
}
.detail_setting_body_checkbox input{
    margin-left: 0px;
}
.detail_setting_body_checkbox label{
    
    
}
#lable1{
    border: 1px solid red;
}

.detail_setting_body_lable{
    margin-right: 20px;
    margin-top: 33px;
    width: 100%;
    height: 23px;
}
.detail_setting_body_lable label{
    margin: 25px;
    font-size: 14px;
}
.detail_setting_body_lable_a{
    display: inline;
    font-size: 11px;
    text-decoration: none;
    color: black;
}
.detail_setting_body_lable_a label{
    font-size: 11px !important;
    color: gray;
}
.detail_setting_body_lable_a a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.detail_setting_body_lable_a a:hover{
    color: red;
}
.detail_setting_body_lable_a #wd_input_tag{
    display: none;
    width: 200px;
    border: 0;
    border-bottom:1px dashed gray;
    cursor: text;
}
.detail_setting_body_lable_a #wd_input_tag:focus{
    outline: none;
}
.wd_input_tag_submit_add{
   background-color: rgba(240, 255, 255, 0.61);
    width: 35x;
    height: 18px;
    font-size: 12px;
    border:0;
    border-radius: 5px;
    display: none;
}
.wd_input_tag_reset{
    background-color: rgba(240, 255, 255, 0.61);
    width: 45x;
    height: 20px;
    font-size: 12px;
    border:0;
    border-radius: 5px;
    display: none;
}
.detail_setting_body_hr1 hr{
    margin: 15px;
    position: relative;
    top: 10px;
}

.detail_setting_body_need{
    width: 100%;
    height: 30px;
    margin-left: 25px;
    /* border: 1px solid red; */
}
.detail_setting_body_need span{
    
    width: 30px;
    height: 15px;
    
    /* border: 1px solid red; */
}
.tag_img{
    position: relative;
}
.testBtn{
    width: 70px;
    color: black;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    background: none;
    border: 1px solid red;
    text-align: center;
}

.detail_setting_body_hr2 hr{
    /* margin: 40px; */
    /* position: relative; */
    /* top: 20px;
    border-style: dotted; */
}
.detail_setting_body_span{
    margin-left: -35px;
    text-align: center;
    margin-top: 15px;
}
.detail_setting_body_alert{
    display: none;
    color: red;
    font-size: 13px;
}

.detail_setting_body_button{
    width: 100%;
    height: 10px;
    /* padding-bottom: 10px; */
    /* border: 1px solid red; */
}
.layui-layer-btn1{
    border-color:
#1E9FFF;

background-color:
#1E9FFF;
}
.layui-layer-btn .layui-layer-btn0{
    border-color:gainsboro !important;

background-color:white !important;

color:black !important;
}
.layui-layer-btn a{
    border-color:#1E9FFF !important;

background-color:#1E9FFF !important;

color:#fff !important;
}
#detail_setting_body_save input{
    color:
    white;
    
    padding: 5px;
    
    background-color:
    rgba(22, 172, 213, 0.767);
    
    border: 0px;
    
    border-radius: 5px;
    
    font-size: 15px;   
}
#detail_setting_body_cancel{
    margin-left: 20px;
    display: inline;
    position: relative;
    top: 10px;
}
#detail_setting_body_cancel input{
    background:inherit;
    background-color:rgba(22, 172, 213, 0.767);
    border:none;
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-width:0px;
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: 14px;
}
.detail_setting_body_delect label:hover{
    color: red;
}

.wd_input_tag_null{
    display: none;
    color: red;
    position: relative;
    left: 120px;
}
#add_tmp{
    min-width: 60px;
color: white;
font-size: 13px;
border: 0;
border-radius: 5px;
background: none;
text-align: center;
}
#detail_setting_body_span span{
    text-align: center;
    position: relative;
    top: 10px;
}
.detail_see{
    font-size: 11px !important;
    color: red;
    display: none;
}

/* 新 */
.wd_project_system{
    background-color: #df7d7d;
    border: 1px solid  #df7d7d;
    color: white;
}
.wd_project_system_yanchi{
    background-color: rgba(160, 159, 95, 0.65);
    border: 1px solid  rgba(160, 159, 95, 0.65);
    color: white;
    margin-left: 10px;
}
.wd-add-tag_new{
    clear: both;
}
.wd-add-tag_new div{
    margin-left: 6px;
    /* padding-top: 8px;
    padding-bottom: 20px; */
}
.wd_project_custom{
    background-color: rgb(135, 138, 236);
    border: 1px solid  rgb(135, 138, 236);
    color: white;
    margin-left: 1px;
    margin-top: 3px;
}