.wd_d_c{
    margin: 5px;
    width: 280px;
    min-height: 600px;
    background-color:#84A8B3;
    float: left;
}

.wd_d_defa{
    margin: 5px;
    display: inline;
}
.wd_d_defa span button{
    border-radius: 10px;
    background-color: white;
    border: 0;
}
.wd_d_defa span label{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.wd_d_i{
    float: right;
}
#wd_d_zhan{
    margin-right: 10px;
    opacity: 0.5;
    filter:brightness(20%);
}
#wd_d_xiang{
    margin-right: 10px;
    position: relative;
    bottom: 3px;
    opacity: 0.5;
    filter:brightness(20%);
}

.wd_d_body{
    width: 250px;
    height: 230px;
    background-color: white;
    margin-top: 10px;
    margin: 20px auto;
    border-radius: 5px;
}
.wd_d_body_f{
    margin: 5px;
    margin-top: 5px;
}
.wd_d_div_p{
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
.wd_d_body_f span{
    float: left;
    margin: 5px;
    font-size: 13px;
}
.wd_d_body_f span input{
    width: 200px;
    border: 0;
    border-bottom:1px dashed gray;
}
.wd_d_body_f span input:focus{
    outline: none;
}

.wd_d_user{
    margin: 10px;
    position: relative;
    top: 10px;
}
.wd_d_user img{
    opacity: 0.5;
    filter:brightness(20%);
}
.wd_d_user select{
    margin-left: 5px;
    width: 200px;
}

.wd_d_data{
    margin: 10px;
    position: relative;
    top: 10px;
}
.wd_d_data span img{
    opacity: 0.5;
    filter:brightness(20%);
}
.wd_d_data span input{
    margin-left: 5px;
    width: 200px;
    border: 0;
    border-bottom:1px dashed gray;
}
.wd_d_data span input:focus{
    outline: none;
}

.wd_d_five{
    margin: 10px;
    position: relative;
    top: 10px;
}
.wd_d_five span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
}
.wd_d_blable{
    margin-left: 5px;
}
.wd_d_five span label{
    font-size: 12px;
    color: rgba(128, 0, 128, 0.664);
}

.wd_d_textT{
    margin: 10px;

}
.wd_d_textT span img{
    opacity: 0.5;
    filter:brightness(20%);
    position: relative;
    bottom: 15px;
}
.wd_d_textT span textarea{
    width: 195px;
    margin-left: 5px;
    border: 0;
}
.wd_d_textT span textarea:focus{
    outline: none;
}

.wd_d_btn{
    margin: 10px;
    margin-top: 5px;
}
.wd_d_btn span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
    margin: 15px;
    margin-left: 40px;
}


.wd_d_t{
    width: 280px;
    height: 700px;
    background-color:#84A8B3;
    float: left;
    margin-left: 30px;
    margin: 5px;
}



/* =========================================== */

.wd_c_body{
    width: 250px;
    height: 230px;
    background-color: white;
    margin-top: 10px;
    margin: 20px auto;
    border-radius: 5px;
}
.wd_c_body_f{
    margin: 5px;
    margin-top: 5px;
}
.wd_c_div_p{
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}
.wd_c_body_f span{
    float: left;
    margin: 5px;
    font-size: 13px;
}
.wd_c_body_f span input{
    width: 200px;
    border: 0;
    border-bottom:1px dashed gray;
}
.wd_c_body_f span input:focus{
    outline: none;
}

.wd_c_user{
    margin: 10px;
    position: relative;
    top: 10px;
}
.wd_c_user img{
    opacity: 0.5;
    filter:brightness(20%);
}
.wd_c_user select{
    margin-left: 5px;
    width: 200px;
}

.wd_c_data{
    margin: 10px;
    position: relative;
    top: 10px;
}
.wd_c_data span img{
    opacity: 0.5;
    filter:brightness(20%);
}
.wd_c_data span input{
    margin-left: 5px;
    width: 200px;
    border: 0;
    border-bottom:1px dashed gray;
}
.wd_c_data span input:focus{
    outline: none;
}

.wd_c_five{
    margin: 10px;
    position: relative;
    top: 10px;
}
.wd_c_five span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
}
.wd_c_blable{
    margin-left: 5px;
}
.wd_c_five span label{
    font-size: 12px;
    color: rgba(128, 0, 128, 0.664);
}

.wd_c_textT{
    margin: 10px;
    
}
.wd_c_textT span img{
    opacity: 0.5;
    filter:brightness(20%);
    position: relative;
    bottom: 15px;
}
.wd_c_textT span textarea{
    width: 195px;
    margin-left: 5px;
    margin-top: 10px;
    border: 0;
}
.wd_c_textT span textarea:focus{
    outline: none;
}

.wd_c_btn{
    margin: 10px;
    margin-top: -10px;
}
.wd_c_btn span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
    margin: 15px;
    margin-left: 27px;
}

/* ============================================下一页兄弟 */
.wd_e_t{
    width: 280px;
    min-height: 600px;
    background-color:#84A8B3;
    float: left;
    margin-left: 30px;
    margin: 5px;
}
.wd_e_df{
    margin: 5px;
    display: inline;
}
.wd_e_df span button{
    border-radius: 10px;
    background-color: white;
    border: 0;
}
.wd_e_df span label{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wd_e_i{
    float: right;
}
#wd_e_zhan{
    margin-right: 10px;
    opacity: 0.5;
    filter:brightness(20%);
}
#wd_e_xiang{
    margin-right: 10px;
    position: relative;
    bottom: 3px;
    opacity: 0.5;
    filter:brightness(20%);
}


.wd_e_white{
    width: 250px;
    height: 117px;
    background-color: white;
    margin: 10px auto;
    margin-top: 10px;
    border-radius: 5px;
}

.wd_e_task{
    /* border: 1px solid red; */
}
.wd_e_blue{
    margin-left: 10px;
    cursor: pointer;
    
}
.wd_e_red{
    margin-left: -17px;
    display: none;
    /* position: relative;
    right: 20px; */
}

.wd_e_jia{
    cursor: pointer;
}
.wd_e_jian{
    margin-left: -17px;
    cursor: pointer;
    display: none;
}
.wd_e_task span label{
    font-size: 13px;
    color: gray;
}

.wd_e_name{
    float: right;
}
.wd_e_time{
    float: right;
}

.wd_e_task_detail{
    /* border: 1px solid red; */
    margin: 5px;
    margin-left: 10px;
} 
.wd_e_imp{
    color: red;
}
.wd_e_detail{
    color: rgba(0, 0, 255, 0.651);
    font-size: 13px;
}
.wd_e_yaoqiu{
    font-size: 13px;
}
.wd_e_img_detail img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    margin-right: 5px;
}
.wd_e_img_detail img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_e_img_info img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    
}
.wd_e_img_info img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_e_img_info_nb label{
    font-size: 13px;
    color: gray;
    position: relative;
    bottom: 4px;
}

.wd_e_lable{
    margin: 10px;
}
.wd_e_lable span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
}

/* ================================ */
.wd_f_white{
    width: 250px;
    height: 117px;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
}

.wd_f_task{
    /* border: 1px solid red; */
}
.wd_f_blue{
    margin-left: 10px;
    cursor: pointer;
    
}
.wd_f_red{
    margin-left: -17px;
    display: none;
    /* position: relative;
    right: 20px; */
}

.wd_f_jia{
    cursor: pointer;
}
.wd_f_jian{
    margin-left: -17px;
    cursor: pointer;
    display: none;
}
.wd_f_task span label{
    font-size: 13px;
    color: gray;
}

.wd_f_name{
    float: right;
}
.wd_f_time{
    float: right;
}

.wd_f_task_detail{
    /* border: 1px solid red; */
    margin: 5px;
    margin-left: 10px;
} 
.wd_f_imp{
    color: red;
}
.wd_f_detail{
    color: rgba(0, 0, 255, 0.651);
    font-size: 13px;
}
.wd_f_yaoqiu{
    font-size: 13px;
}
.wd_f_img_detail img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    margin-right: 5px;
}
.wd_f_img_detail img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_f_img_info img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    
}
.wd_f_img_info img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_f_img_info_nb label{
    font-size: 13px;
    color: gray;
    position: relative;
    bottom: 4px;
}

.wd_f_lable{
    margin: 10px;
}
.wd_f_lable span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
}
/* ==================== */
.wd_g_white{
    width: 250px;
    min-height: 200px;
    background-color: white;
    margin-top: 2px;
    margin: 10px auto;
    border-radius: 5px;
}

.wd_g_task{
    /* border: 1px solid red; */
}
.wd_g_blue{
    margin-left: 10px;
    cursor: pointer;
    
}
.wd_g_red{
    margin-left: -17px;
    display: none;
    /* position: relative;
    right: 20px; */
}

.wd_g_jia{
    cursor: pointer;
}
.wd_g_jian{
    margin-left: -17px;
    cursor: pointer;
    display: none;
}
.wd_g_task span label{
    font-size: 13px;
    color: gray;
}

.wd_g_name{
    float: right;
}
.wd_g_time{
    float: right;
}

.wd_g_task_detail{
    /* border: 1px solid red; */
    margin: 5px;
    margin-left: 10px;
} 
.wd_g_cbx{
    display: inline;
}
.wd_g_cbx span input{
    position: relative;
    left: 17px;
}
.wd_g_div{
    margin-top: -24px;
    margin-left: 39px;
    
    word-break: break-all;
}
.wd_g_imp{
    color: red;
}
.wd_g_detail{
    color: rgba(0, 0, 255, 0.651);
    font-size: 13px;
}
.wd_g_yaoqiu{
    font-size: 13px;
}
.wd_g_img_detail img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    margin-right: 5px;
}
.wd_g_img_detail img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_g_img_info img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    
}
.wd_g_img_info img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_g_img_info_nb label{
    font-size: 13px;
    color: gray;
    position: relative;
    bottom: 4px;
}


.wd_add{
    width: 110px;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.wd_add span img{
    margin-right: 5px;
    cursor: pointer;
}
.wd_add span label{
    font-size: 13px;
    cursor: pointer;
    color: rgba(0, 140, 255, 0.712);
}

/* ======================================= */
.wd_h_white{
    width: 250px;
    min-height: 80px;
    background-color: white;
    margin-top: 2px;
    margin: 10px auto;
    border-radius: 5px;
}
.wd_h_blue{
    margin-left: 10px;
    cursor: pointer;
    
}
.wd_h_red{
    margin-left: -17px;
    display: none;
    /* position: relative;
    right: 20px; */
}
.wd_h_jia{
    cursor: pointer;
}
.wd_h_jian{
    margin-left: -17px;
    cursor: pointer;
    display: none;
}
.wd_h_task span label{
    font-size: 13px;
    color: gray;
}

.wd_h_name{
    float: right;
}
.wd_h_time{
    float: right;
}


.wd_h_add{
    margin-left: 10px;
}
.wd_h_add span input{
    margin-left: 5px;
    width: 150px;
    border: 0;
    border-bottom:1px dashed gray;
}
.wd_h_add span input:focus{
    border: 0;
    border-bottom:1px dashed gray;
    outline: none;
}
.wd_h_add span label{
    font-size: 13px;
}


.wd_h_btn{
    
    margin: 10px auto;
    /* border: 1px solid red; */
    width: 100px;
}
.wd_h_btn span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
    
}

/* ========================== */
.wd_g_add{
    width: 250px;
    min-height: 30px;
    background-color: white;
    margin-top: 2px;
    margin: 10px auto;
    border-radius: 5px;
}
.wd_g_add_img{
    width: 110px;
    margin: 0 auto;
    position: relative;
    top: 5px;
}
.wd_g_add_img span img{
    opacity: 0.5;
    filter:brightness(20%);
    cursor: pointer;
    width: 13px;
    height: 13px;
}
.wd_g_add_img span img:hover{
    opacity: 0.9;
    filter:brightness(20%);
}
.wd_g_add_img span label{
    font-size: 14px;
    cursor: pointer;
}
.wd_g_add_img span label:hover{
    color: red;
}
/* ==================================================== */
.wd_c_t{
    width: 280px;
    height: 600px;
    background-color:#84A8B3;
    float: left;
    margin-left: 30px;
    margin: 5px;
    /* white-space: nowrap; */
    /* overflow:visible; */
    /* word-break: break-all;
    word-wrap: break-word; */
}
.wd_c_add{
    height: 100px;
    border: 1px solid gray;
}
.wd_c_goon{
    height: 40px;
    width: 150px;
    margin: 0 auto;
    /* border: 1px solid gray; */
    position: relative;
    top: 30px;
}
.wd_c_goon span img{
    width: 13px;
    height: 13px;
    opacity: 0.5;
    filter:brightness(20%);
}
.wd_c_goon span img:hover{
    opacity: 0.9;
    filter:brightness(20%);
    cursor: pointer;
}
.wd_c_goon span label{
    font-size: 14px;
    cursor: pointer;
}
.wd_c_goon span label:hover{
    color: rgba(255, 0, 0, 0.699);
}
.wd_c_name{
    margin: 15px auto;
    /* border: 1px solid red; */
   margin-left: 10px;
}
.wd_c_name span input{
    /* border: 1px solid red; */
    width: 240px;
    height: 25px;
    border-radius: 5px;
}
.wd_c_create{
    margin: 10px;
    
}
.wd_c_create span input{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
    margin-left: 10px;
    cursor: pointer;
}
.wd_c_create span button{
    border: 0;
    border-radius: 5px;
    background-color: rgba(0, 110, 255, 0.692);
    margin-left: 10px;
    cursor: pointer;
}
.wd_c_show{
    display: none;
}

