.wd-beacon{
    width: 100%;
    height: auto;
}
.wd-stand-task{
    /* width: 99%; */
    /* min-height: 40px; */
}
.wd-stand-block{
    width: 98%;
    height: auto;
    float: left;
    margin-top: 5px;
    /* margin-left: -90px; */
}
.wd-stand-block:hover{
    width: 98%;
    /* margin-left: -90px; */
    border-radius: 6px;
    background-color: #f6f6f6;
}
/* 修缮 */
.wd-stand-repair{
    /* margin-left: 25px; */
    float: left;
    width: 100%;
}
.wd-stand-repair div{
    line-height: 2;
    display: inline;
    /* overflow: auto; */
}
.wd-stand-none{
    width: 60px;
    /* position: absolute; */
    float: left;
    margin-left: -60px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #f6f6f6;
    /* padding-left: 11px; */
}
.wd-stand-none:hover{
    height: auto;
    /* margin-left: -90px; */
    /* border-radius: 6px; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #f6f6f6;
}
.wd-stand-boxpen{
 
}
.wd-stand-boxpen div:first-child{
    margin-right: 15px;
}
.wd-stand-gure{
    width: 90%;
    height: auto;
    margin-left: 20px;
    float: left;
}
.wd-stand-start{
    
}
.wd-stand-ok{
    margin-left: 15px;
}
.wd-stand-ok input{
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    position: relative;
    top: 5px;
}
.wd_stand_task_info{
    display: block ;
}
/* 换行 */
.wd-stand-wrap{
    word-break: normal; 
    word-wrap:break-word;
}

/* 标签 */
.wd-stand-tag{
    background: inherit;
    background-color: rgba(153, 51, 204, 1);
    color: white;
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0px;
    margin: 4px;
    padding: 2px;
    font-size: 13px;
    min-width: 40px
}
/* 日期 */
.wd-stand-date{
    color: rgba(22, 172, 213, 0.767);
    font-size: 13px;
}


/* 子任务 */
.wd-stand-sub{
    clear: both;
    width: 553px;
    height: auto;
    margin-left: 75px;
    float: left;
    margin-top: 5px;
    
    /* margin: 0 auto; */
}
.wd-stand-sub-line div{
    display: inline;
}
.wd-stand-list{
    float: left;
    width: 557px;
    height: auto;
    margin: 0 auto;
}
/* 勾选 */
.wd-stand-sub-checkbox input{
    width: 17px;
    height: 17px;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    position: relative;
    top: 4px;
}
.wd-stand-sub-warp{
    float: left;
    width: 82%;
}
.wd-stand-sub-warp div{
    /* float: left; */
}
.wd-stand-sub-add img{
    width: 17px;
    height: 17px;
}
.wd-stand-sub-add {
    margin-left: 24px;
    position: relative;
    top: -1px;
}

/* 添加子任务 */
.wd-stand-suball{

}
.wd-stand-change{
    display: block;
}
.wd-stand-append{
    display: inline-block;
    width: 400px;
    height: auto;
    margin-left: 133px;
    margin-top: 2px;
}
.wd-stand-append img{
    width: 18px;
    height: 18px;
}