/*html,body{
    height:100%;
}*/

/*team ҳ������*/
.table-members{
    margin-top: 3px;
    width: 100%;
}
#zhezhao{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index:-1;
    -moz-opacity: 0.7;
    opacity:0.3;
    filter: alpha(opacity=70);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.team_tab table tr{
    padding: 12px 15px;
    height: 15px;
    /*border-top: 1px solid #e3e3e3;*/
    border-bottom: 1px solid #e3e3e3;
}

table td{
    cursor:default;
}
#divId table td a{
    display: inline-block;
    height: 100%;
    width: 100%;
}

/*table tr td label{
    cursor:pointer;
}*/
.team_tab table tr td{
    width: 38px;
    margin: 0;
    padding: 12px;
    vertical-align: middle;
    font-size: 14px;
    color: #555;
    word-break: break-word;
    word-wrap: break-word;
}
.team-member img{
    float: left;
    margin-right: 15px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.team-member-name{
    line-height: 40px;
    max-width: 250px;
    margin-left: 69px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.team-name{
    color: #44acb6;
    font-size: 18px;
    font-weight: 500;
    line-height: 52px;
    white-space: nowrap;
    vertical-align: baseline;
}

.team-row{
    padding: .1em .2em;
    vertical-align: 2px;
    font-size: 12px;
    color: #777;
    border-radius: 2px;
}

.team-wu{
    max-width: 200px;
    min-width: 100px;
}

/*δ�������*/
.member-info {
    display: flex;
    position: relative;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    cursor: default;
}
/*ͷ���С*/
.member-info .avatar {
    width: 60px;
    height: 60px;
}

.avatar {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
}

.member-info .member-card {
    margin-left: 25px;
}

h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
}

.member-info .member-card .member-comment {
    margin-top: 8px;
    font-size: 14px;
    color: #777;
}

.member-nav {
    height: 30px;
    padding: 0 20px;
    border-bottom: 1px solid #e3e3e3;
    line-height: 30px;
    font-size: 14px;
    cursor: default;
}

.active {
    padding: 0 20px;
    font-weight: 700;
    float: left;
}

.lo {
    float: right;
    color: #777;
}

.team-list {
    height: 30px;
    /*padding: 0 10px;*/
}

.team-list li {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 16px;
    /*left:307px;*/
    margin-left: 40px;
    margin-right: -20px;
    padding: 0;
    float: left;
    color: #aeaaaa;
    font-size: 14px;
    font-weight: bold
}

.team-list li:hover{
    color: #339966;
}

.filters {
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 0;
/*    display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.todolist input{ 
    vertical-align:middle;
/*    width: 12px;
    height: 10px;*/
    position: relative;
    /*top: 2px;*/
}


.todolist{
    /*display: block;*/
    /*border:1px solid red;*/
    position: relative;
    width: 800px;
    min-height:10px;
    margin: 0;
    padding: 0px 10px 40px 40px;
}

.todolist .todolist-one{
    clear:both;
    /*border:1px solid red;*/
    width: 100%;
    height: 15px;
    padding: 0px 0px 10px;
    margin: 0px 0px 10px;
    /*line-height: 15px;*/
}

.todolist-2{
    display:none;
    clear:both;
    /*border:1px solid yellow;*/
    width: 100%;
    height: 15px;
    padding: 0px 0px 10px;
    margin: 5px 0px 5px 35px;
    /*line-height: 15px;*/
}

/*.todolist-2-1{
    clear:both;
    margin: 0 auto;
    width: 100%;
}*/

.todolist-2-1{
    float: left;
    font-size: 13px;
    float: left;
    padding: 3px 4px;
    clear:both;
    margin: 0 auto;
    width: 100%;
    /*position: relative;*/
    cursor: pointer;
    /*line-height: 6px;*/
    overflow: hidden;
}
.todo-2{
    float: left;
    font-size: 11px;
    float: left;
    padding: 3px 4px;
    /*position: relative;*/
    cursor: pointer;
    /*line-height: 6px;*/
    overflow: hidden;
}
.todos-2{
    float: left;
    font-size: 13px;
    float: left;
    padding: 3px 4px;
    /*position: relative;*/
    cursor: pointer;
    /*line-height: 6px;*/
    overflow: hidden;
}

.todos-2{
    /*width: 18px;*/
    height: 16px;
}

.assess{
    width: 21px;
    height: 20px;
}
.todo-2 span{
    margin: 0px 10px 0px 0px;
    margin-left: -3px;
}

.todolist-one .todolist-1 div{
    /*width: 13px;*/
    /*height: 27px;*/
    /*border:1px solid #000;*/
    font-size: 12px;
    float: left;
    padding: 3px 4px;
    /*position: relative;*/
    /*cursor: pointer;*/
    /*line-height: 6px;*/
    overflow: hidden;
}

/*.todo-checkbox span input{
    top:3px;
}*/

.a .complete img{
    width: 22px;
}
.b .complete img{
    width: 20px;
}
.b .todo-2{
    padding: 1px 0px 1px 5px;
}
.todolist-2-1.todolist-2-1-1{
    border:1px solid red;
    width: 50px;
    height: 30px;
    position: relative;
    left: 250px;
}

.parsing-point{
    color:#FF0000 !important;
    padding: 0px !important;
}

.todo-actions{
    position: relative;
    top: -0.5px;
}

.todo-content span{
    margin: 0px 4px;
}

.parsing-label{
    color: #3399FF !important;
    padding: 1px 6px !important;
    position: relative;
    top: -3px;
    /*margin-right: 10px !important;*/

}

.parsing-name{
    color: #101011 !important;
    /*font-size: 14px !important;*/
    /*font-weight: bold !important;*/
}

.num{
    color: #999999;
    /*cursor: pointer;*/
}

.symbolp{
    cursor: pointer;
}
.symbolp img{
    width: 12px;
    height: 12px;
}
#load{
    display: block;
    margin: 0 auto;
}
.note{
    color: #999999;
    cursor: default;
}

.biaoti{
    background-color: rgba(153, 51, 204, 1);
    color: #FFFFFF;
}

.overdue{
    color: red;
}

.tag-set{
   /* background-color: rgba(0,150,136,.64);
    border-color: rgba(0,150,136,.72);*/
    background-color: rgb(135, 138, 236);
    color: #FFFFFF;
    border-radius: 5px;
    text-indent : 20px;
    padding: 1px 4px 1px 4px;
    /*letter-spacing:1px;*/
}

.team-more{
    position:relative;
    width:120px;
    height:30px;
    /*background-color:#C2B9BA;
    color:#fff;*/
    line-height:30px;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    border:0 none;
    font-size:12px;
    cursor:default;
}

.todo-content{
    width: 700px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
/*tr-todo-item {
    padding: 6px 4px;
    display: flex;
    align-items: flex-start;
    line-height: 24px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
*/

.deltask{
    padding: 3px 4px 3px 8px;
}

.team-comment{
    display:none;
    width: 450px;
    height: 400px;
    /*position: relative;*/
    border: 1px solid rgb(85, 85, 85);
    /*bottom: -99px;*/
    right: 8%;
    /*top: 89px;
    left: 375px;*/
    z-index: 1;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    /*border-color: rgb(238, 238, 238);*/
    border-radius: 5px;
    /*padding: 5px 10px 5px 15px;*/
    overflow: auto;
    text-align: justify;
    word-break: break-all;
    position: absolute;
}
.closeteam{
    /*position: absolute;*/
    width: 100%;
    height:18;
}

.closeteam span{
    margin-left: 384px;
}
.discusscomment{
    padding-right: 21px !important;
    /*text-align:center !important;*/
    width: 95%;
    height: 100%;
    overflow: auto !important;
}

.discusscomment div{
    display: block !important;
    clear: both;
    /*word-break: break-all;*/
}
.nomorepl{
    width: 100%;
    text-align: center;
    line-height: 30px;
    clear: none !important;
    /*display: none !important;*/
}

.log{
    width: 100%;
    clear: none !important;
}

.ct{
    width: 100%;
    clear: none !important;
}

.log label{
    margin:0px 4px;
    font-size: 12px;
    color: gray;
    /*padding: 4px 0;*/
}

.ct-time{
    clear: none !important;
    /*max-width: 127px;*/
    width: 72;
}

.ct-content{
    clear: none !important;
    width: 75%;
}
/*.log div{
    display:inline-block !important;
}*/
.ct label{
    margin:0px 4px;
    font-size: 12px;
    color: gray;
    /*padding: 4px 0;*/
}
.ct p{
    font-size: 13px;
    word-break: break-all;
    color: #141415;
    padding: 4px 0px;
}

.task-name{
    cursor:default;
    border-bottom: 1px solid #d5d1d1;
}

.arrows{
    cursor:default;
}

.pause img{
    width: 12px;
}
.zirenwu img{
    width: 12px;
}
.zrw img{
    width: 17px;
}

.selected{
    font-family:Georgia;
    color:black !important;
}

/*��̬ҳ������*/
.defaultcontent{
    top:10px;
    position: relative;
    width: 96%;
    height: 100%;
    margin:auto;
    /*border: 1px solid rgb(85, 85, 85);*/
}

.defaultcontent .parsing-name{
    font-weight: bold;
}

.default-selset{
    width: 100%;
    height: 100%;
    display:inline-block;margin:10px 10px 5px 0px;
}

.default-selset div{
    float: left;
    margin-left: 10px
}

.ax_default_userlist{
    margin-left: 20px;
}

.dynamic-content{
    width: 100%;
    height: 100%;
    display:inline-block;margin:5px 10px -28px 10px;
}

.dynamic-content-one{
    width: 98%;
    /*height: 500px;*/
    margin:0px 0px 5px 0px;
    /*border: 1px solid red;*/
    position: relative;
    /*border:1px solid red;*/
    /*border-top: 1px solid red;*/
}

.events-day-title{
    position: absolute;
    top: -15px;
    left: 12px !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 4px solid #e3e3e3;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #44acb6;
}

.events-day-title .date {
    display: block;
    margin: 6px 0 0;
    font-size: 18px;
    line-height: 24px;
    font-family: arial,sans-serif;
    font-weight: 700;
}

.events-day-title .day {
    display: block;
    font-size: 12px;
    line-height: 1;
    color: #777;
    margin: 2px 0 0;
}

.dynamic-event-comment{
    width: 93%;
    /*height: 300px;*/
    padding: 0;
    border: 0;
    position: relative;
    /*border: 3px solid green;*/
    padding: 40px 0px 10px 70px;
    /*border-top: 1px solid green;*/
}

.events-ancestor{
    position: relative;
    padding: 15px 100px 25px 20px;
    border-top: 1px solid red;
}

.events-ancestor-title{
    position: absolute;
    top: -9px;
    right: -7px;
    padding: 0px 50px 0px 15px;
    font-size: 18px;
    line-height: 18px;
    background-color: #fff;
}

.event-todo-assign{
    width: 100%;
    padding-top: 10px;
    word-wrap: break-word;
    word-break:break-all;
}

.event-todo-assign span{
    position: relative;
    margin: 0 0 -18px;
    padding: 2px 8px;
    min-height: 45px;
    /* font-size: 14px; */
    white-space: normal;
/*    word-wrap: break-word;
    word-break:break-all*/
    font-size: 12px;
    line-height: 1.5;
    *zoom: 1;
}
.event-span{
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-size:20px;
}

.dynamicmore{
    padding-bottom: 0.1%;
}
.dynamicmore div{
    padding:0 15px;
    width:120px;
    height:30px;
    /*background-color:#C2B9BA;*/
    /*color:#2f2b2b;*/
    line-height:30px;
    text-align:center;
    border-radius:5px;
    margin:20px auto 40px;
    border:0 none;
    font-size:16px;
    cursor:pointer;
}
.scorenum{
    /*color:rgb(0,112,192);*/
    color:#0070C0;
}

.daynum{
    /*color:rgb(192,0,0);*/
    color:#C00000;
}

.clearfix:after{
    /*visibility: hidden;*/
    display: block;
    /*font-size: 0;*/
    content: " ";
    clear: both;
    /*height: 0;*/
}